In [17]:
import pandas as pd
import numpy as np
import csv
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [18]:
sports_data_orig = pd.read_csv('XYZ_sports_dataset.csv', delimiter =";")
sports_data = sports_data_orig

In [19]:
sports_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14942 entries, 0 to 14941
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          14942 non-null  int64
 1   Age                         14942 non-null  int64
 2   Gender                      14942 non-null  object
 3   Income                      14447 non-null  float64
 4   EnrollmentStart             14942 non-null  object
 5   EnrollmentFinish            14942 non-null  object
 6   LastPeriodStart             14942 non-null  object
 7   LastPeriodFinish            14942 non-null  object
 8   DateLastVisit               14942 non-null  object
 9   DaysWithoutFrequency        14942 non-null  int64
 10  LifetimeValue               14942 non-null  float64
 11  UseByTime                   14942 non-null  int64
 12  AthleticsActivities         14906 non-null  float64
 13  WaterActivities             14905 non-null  float64
 14  FitnessActivities           14907 non-null  float64
 15  DanceActivities             14906 non-null  float64
 16  TeamActivities              14907 non-null  float64
 17  RacketActivities            14905 non-null  float64
 18  CombatActivities            14909 non-null  float64
 19  NatureActivities            14895 non-null  float64
 20  SpecialActivities           14898 non-null  float64
 21  OtherActivities             14907 non-null  float64
 22  NumberOfFrequencies         14916 non-null  float64
 23  AttendedClasses             14942 non-null  int64
 24  AllowedWeeklyVisitsBySLA    14407 non-null  float64
 25  AllowedNumberOfVisitsBySLA  14942 non-null  float64
 26  RealNumberOfVisits          14942 non-null  int64
 27  NumberOfRenewals            14942 non-null  int64
 28  HasReferences               14930 non-null  float64
 29  NumberOfReferences          14942 non-null  int64
 30  Dropout                     14942 non-null  int64
dtypes: float64(16), int64(9), object(6)
memory usage: 3.5+ MB

<h4>Change data types

In [20]:
sports_data['EnrollmentStart'] = pd.to_datetime(sports_data['EnrollmentStart'])
sports_data['EnrollmentFinish'] = pd.to_datetime(sports_data['EnrollmentFinish'])
sports_data['LastPeriodStart'] = pd.to_datetime(sports_data['LastPeriodStart'])
sports_data['LastPeriodFinish'] = pd.to_datetime(sports_data['LastPeriodFinish'])
sports_data['DateLastVisit'] = pd.to_datetime(sports_data['DateLastVisit'])

Binary encode of gender

In [21]:
sports_data.value_counts()

ID     Age  Gender  Income  EnrollmentStart  EnrollmentFinish  LastPeriodStart  LastPeriodFinish  DateLastVisit  DaysWithoutFrequency  LifetimeValue  UseByTime  AthleticsActivities  WaterActivities  FitnessActivities  DanceActivities  TeamActivities  RacketActivities  CombatActivities  NatureActivities  SpecialActivities  OtherActivities  NumberOfFrequencies  AttendedClasses  AllowedWeeklyVisitsBySLA  AllowedNumberOfVisitsBySLA  RealNumberOfVisits  NumberOfRenewals  HasReferences  NumberOfReferences  Dropout
10001  29   Female  2630.0  2014-08-12       2015-09-14        2015-01-01       2015-12-31        2015-07-16     60                    479.20         0          0.0                  0.0              0.0                0.0              0.0             0.0               0.0               0.0               1.0                0.0              23.0                 1                2.0                       17.42                       1                   2                 0.0            0                   1          1
19971  8    Female  0.0     2014-10-07       2014-10-07        2019-01-01       2019-06-30        2019-04-29     185                   1396.95        0          0.0                  1.0              0.0                0.0              0.0             0.0               0.0               0.0               0.0                0.0              77.0                 66               2.0                       17.42                       2                   5                 0.0            0                   0          1
19945  50   Male    5140.0  2017-06-06       2017-08-29        2017-01-01       2017-12-31        2017-06-26     64                    91.60          0          0.0                  1.0              0.0                0.0              0.0             0.0               0.0               0.0               0.0                0.0              2.0                  0                7.0                       55.02                       2                   0                 0.0            0                   1          1
19946  24   Female  1530.0  2018-03-06       2018-06-07        2018-01-01       2018-06-30        2018-04-11     57                    55.40          0          0.0                  0.0              1.0                0.0              0.0             0.0               0.0               0.0               0.0                0.0              7.0                  0                7.0                       60.97                       1                   0                 0.0            0                   1          1
19947  29   Female  2880.0  2019-04-12       2019-06-11        2019-01-01       2019-06-30        2019-05-27     15                    49.50          0          0.0                  0.0              1.0                0.0              0.0             0.0               0.0               0.0               0.0                0.0              13.0                 0                7.0                       39.97                       13                  0                 0.0            0                   1          1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ..
15000  19   Female  1750.0  2016-04-01       2016-06-04        2016-01-01       2016-06-30        2016-04-21     44                    40.00          0          0.0                  0.0              1.0                0.0              0.0             0.0               0.0               0.0               0.0                0.0              6.0                  0                7.0                       60.97                       6                   0                 0.0            0                   1          1
15001  17   Male    1360.0  2015-10-01       2015-11-01        2015-07-01       2015-12-31        2015-10-27     5                     91.10          0          0.0                  1.0              0.0                0.0              0.0             0.0               0.0               0.0               0.0                0.0              6.0                  0                7.0                       31.01                       6                   0                 0.0            0                   1          1
15002  29   Male    1690.0  2015-09-21       2018-02-07        2017-07-01       2018-06-30        2017-12-13     56                    937.80         0          0.0                  0.0              1.0                0.0              0.0             0.0               0.0               0.0               0.0                0.0              187.0                0                7.0                       62.02                       2                   2                 0.0            0                   1          1
15003  20   Female  1340.0  2018-02-19       2018-02-19        2019-07-01       2019-12-31        2019-10-18     13                    243.10         0          0.0                  0.0              1.0                0.0              0.0             0.0               0.0               0.0               0.0                0.0              33.0                 0                7.0                       51.03                       7                   2                 0.0            0                   0          1
24941  32   Female  3700.0  2016-04-01       2019-06-11        2019-01-01       2019-06-30        2019-05-28     14                    919.60         0          0.0                  0.0              1.0                0.0              0.0             0.0               0.0               0.0               0.0                0.0              169.0                1                7.0                       60.97                       13                  4                 0.0            0                   1          1
Name: count, Length: 13558, dtype: int64

In [22]:
sports_data['Gender'] = sports_data['Gender'].map({'Male': 1, 'Female': 0})

In [23]:
sports_data['Gender'].dtype

dtype('int64')

<h1> Data Exploration </h1>

In [24]:
# replace "" by nans
sports_data.replace("", np.nan, inplace=True)

# count of missing values
sports_data.isna().sum()

ID                              0
Age                             0
Gender                          0
Income                        495
EnrollmentStart                 0
EnrollmentFinish                0
LastPeriodStart                 0
LastPeriodFinish                0
DateLastVisit                   0
DaysWithoutFrequency            0
LifetimeValue                   0
UseByTime                       0
AthleticsActivities            36
WaterActivities                37
FitnessActivities              35
DanceActivities                36
TeamActivities                 35
RacketActivities               37
CombatActivities               33
NatureActivities               47
SpecialActivities              44
OtherActivities                35
NumberOfFrequencies            26
AttendedClasses                 0
AllowedWeeklyVisitsBySLA      535
AllowedNumberOfVisitsBySLA      0
RealNumberOfVisits              0
NumberOfRenewals                0
HasReferences                  12
NumberOfReferences              0
Dropout                         0
dtype: int64

<h3> Age

In [25]:
#set income as zero when the age is under 16 
sports_data.loc[(sports_data['Age'] < 16), 'Income'] = 0

In [26]:
#only consider fitness activities for customers over 16

drop_fitness_above_16 = sports_data[(sports_data['FitnessActivities'] == 1) & (sports_data['Age'] < 16)].index
sports_data.drop(drop_fitness_above_16, inplace=True)

sports_data[(sports_data['FitnessActivities'] == 1) & (sports_data['Age'] < 16)]

Empty DataFrame
Columns: [ID, Age, Gender, Income, EnrollmentStart, EnrollmentFinish, LastPeriodStart, LastPeriodFinish, DateLastVisit, DaysWithoutFrequency, LifetimeValue, UseByTime, AthleticsActivities, WaterActivities, FitnessActivities, DanceActivities, TeamActivities, RacketActivities, CombatActivities, NatureActivities, SpecialActivities, OtherActivities, NumberOfFrequencies, AttendedClasses, AllowedWeeklyVisitsBySLA, AllowedNumberOfVisitsBySLA, RealNumberOfVisits, NumberOfRenewals, HasReferences, NumberOfReferences, Dropout]
Index: []

In [27]:
pd.set_option('display.max_columns', None)
#Drop every child before 4 years old who is doing other activities that are not water

activities_before_4_years = (sports_data['Age'] < 4) & (
    ((sports_data['TeamActivities'] == 1) | (sports_data['SpecialActivities'] == 1) | (sports_data['CombatActivities'] == 1) |
     (sports_data['RacketActivities'] == 1) | (sports_data['AthleticsActivities'] == 1) | (sports_data['FitnessActivities'] == 1) |
     (sports_data['DanceActivities'] == 1) | (sports_data['NatureActivities'] == 1))
)

sports_data.drop(sports_data[activities_before_4_years].index, inplace=True)

In [28]:
sports_data[sports_data['EnrollmentStart'] == sports_data['EnrollmentFinish']]

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,UseByTime,AthleticsActivities,WaterActivities,FitnessActivities,DanceActivities,TeamActivities,RacketActivities,CombatActivities,NatureActivities,SpecialActivities,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout
25,10025,13,0,0.0,2015-09-09,2015-09-09,2019-07-01,2019-12-31,2019-10-26,5,596.30,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,18,2.0,6.28,3,4,0.0,0,0
36,10036,13,0,0.0,2014-10-02,2014-10-02,2019-07-01,2019-12-31,2019-10-22,9,2209.97,0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,199.0,166,2.0,17.14,5,5,1.0,1,0
38,10038,38,0,1910.0,2018-09-29,2018-09-29,2019-07-01,2019-12-31,2019-10-30,1,554.60,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,127.0,125,3.0,26.13,25,1,0.0,0,0
49,10049,56,1,6540.0,2018-09-03,2018-09-03,2019-07-01,2019-12-31,2019-10-29,2,540.10,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,112.0,0,7.0,60.97,32,1,0.0,0,0
51,10051,12,0,0.0,2018-08-17,2018-08-17,2019-07-01,2019-12-31,2019-10-28,3,852.30,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,42.0,42,4.0,34.84,4,2,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14918,24918,73,1,3870.0,2014-12-10,2014-12-10,2019-07-01,2019-12-31,2019-10-31,0,1583.90,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,472.0,0,7.0,60.97,45,5,0.0,0,0
14919,24919,1,0,0.0,2019-07-18,2019-07-18,2019-07-01,2019-12-31,2019-10-31,0,201.20,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,7,2.0,17.14,7,1,0.0,0,0
14926,24926,24,0,3290.0,2018-10-08,2018-10-08,2019-01-01,2019-12-31,2019-10-29,2,196.10,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.0,37,2.0,17.42,7,1,0.0,0,0
14937,24937,14,1,0.0,2016-09-08,2016-09-08,2019-07-01,2019-12-31,2019-10-29,2,1460.45,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,112.0,96,4.0,34.84,8,3,0.0,0,0
14940,24940,55,1,4800.0,2018-03-01,2018-03-01,2019-07-01,2019-12-31,2019-10-28,3,788.60,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,185.0,155,3.0,15.87,7,2,0.0,0,0

In [29]:
#all clients with enrollment start = enrollment finish are not dropouts, so let's change the enrollment finish to the retrieval date

sports_data.loc[sports_data['Dropout'] == 0, 'EnrollmentFinish'] = pd.to_datetime('2019-10-31')

sports_data[sports_data['Dropout'] == 0]['EnrollmentFinish'].value_counts()

EnrollmentFinish
2019-10-31    2970
Name: count, dtype: int64

In [30]:
#Cases in which the client is not a dropout, but the days without frequency is bigger than 0

sports_data.loc[(sports_data['DaysWithoutFrequency'] != 0) & (sports_data['Dropout'] == 0), 'DaysWithoutFrequency'] = 0

sports_data[(sports_data['DaysWithoutFrequency'] != 0) & (sports_data['Dropout'] == 0)]

Empty DataFrame
Columns: [ID, Age, Gender, Income, EnrollmentStart, EnrollmentFinish, LastPeriodStart, LastPeriodFinish, DateLastVisit, DaysWithoutFrequency, LifetimeValue, UseByTime, AthleticsActivities, WaterActivities, FitnessActivities, DanceActivities, TeamActivities, RacketActivities, CombatActivities, NatureActivities, SpecialActivities, OtherActivities, NumberOfFrequencies, AttendedClasses, AllowedWeeklyVisitsBySLA, AllowedNumberOfVisitsBySLA, RealNumberOfVisits, NumberOfRenewals, HasReferences, NumberOfReferences, Dropout]
Index: []

In [31]:
sports_data['DaysWithoutFrequency'] = sports_data['EnrollmentFinish'] - sports_data['DateLastVisit']

In [32]:
#bin_edges = [0, 15, 25, 35, 45, 64, 65]  
#bin_labels = ['0-15', '15-25', '26-35', '36-45', '45-64', '65+']

# Create a new column 'age_group' with the assigned bins
#sports_data['Age'] = pd.cut(sports_data['Age'], bins=bin_edges, labels=bin_labels, right=False)

#sports_data['Age']

<h2>Feature Engineering

Real number of visits in relation to the allowed number of visits

In [33]:
sports_data['PercentageOfVisits'] = (sports_data['RealNumberOfVisits'] / sports_data['AllowedNumberOfVisitsBySLA']) * 100

Number of Activities the client is signed in

In [34]:
sports_data['NumberOfActivities'] = sports_data.iloc[:, 12:22].sum(axis=1)

In [35]:
sports_data[sports_data['NumberOfActivities'] == 0]

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,UseByTime,AthleticsActivities,WaterActivities,FitnessActivities,DanceActivities,TeamActivities,RacketActivities,CombatActivities,NatureActivities,SpecialActivities,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout,PercentageOfVisits,NumberOfActivities
333,10333,42,1,4720.0,2016-11-02,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1 days,885.80,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,78.0,63,1.0,8.71,3,3,0.0,0,0,34.443169,0.0
415,10415,53,0,3290.0,2017-10-07,2019-01-14,2018-07-01,2019-06-30,2018-12-14,31 days,264.50,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,5,7.0,42.00,4,1,0.0,0,1,9.523810,0.0
682,10682,22,0,2250.0,2014-10-08,2015-09-16,2015-01-01,2015-06-30,2015-06-04,104 days,144.45,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,0,7.0,28.98,11,1,0.0,0,1,37.957212,0.0
1046,11046,14,1,0.0,2015-01-29,2018-07-31,2018-01-01,2018-12-31,2018-05-28,64 days,1420.90,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99.0,90,2.0,17.42,0,4,0.0,0,1,0.000000,0.0
1443,11443,42,0,5230.0,2018-03-28,2018-07-31,2018-01-01,2018-12-31,2018-07-30,1 days,93.40,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,0,7.0,60.97,18,0,0.0,0,1,29.522716,0.0
2964,12964,15,0,0.0,2017-06-16,2019-10-31,2019-07-01,2019-12-31,2019-03-26,219 days,861.20,0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,13.0,13,2.0,17.42,0,3,0.0,0,0,0.000000,0.0
3735,13735,21,0,1200.0,2015-12-29,2016-03-01,2016-01-01,2016-06-30,2016-02-25,5 days,95.60,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,0,7.0,59.99,25,0,0.0,0,1,41.673612,0.0
4085,14085,22,1,2100.0,2015-04-16,2015-09-16,2015-01-01,2015-06-30,2015-04-28,141 days,37.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,7.0,28.98,2,1,0.0,0,1,6.901311,0.0
4619,14619,24,0,1940.0,2017-11-06,2018-05-08,2018-01-01,2018-06-30,2018-03-19,50 days,123.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,0,7.0,60.97,2,0,0.0,0,1,3.280302,0.0
5013,15013,19,1,1090.0,2016-01-06,2016-03-06,2016-01-01,2016-06-30,2016-01-20,46 days,47.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0,7.0,59.99,4,0,0.0,0,1,6.667778,0.0
5067,15067,19,0,1750.0,2016-02-19,2016-07-08,2016-01-01,2016-12-31,2016-05-27,42 days,128.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.0,0,7.0,60.97,4,0,0.0,0,1,6.560604,0.0
5368,15368,8,1,0.0,2016-08-30,2019-06-11,2019-01-01,2019-06-30,2019-05-16,26 days,1061.25,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,140.0,135,2.0,17.42,4,4,0.0,0,1,22.962113,0.0
5976,15976,5,0,0.0,2017-09-08,2018-07-31,2018-01-01,2018-12-31,2018-06-16,45 days,309.35,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,12,2.0,17.42,3,0,0.0,0,1,17.221584,0.0
6282,16282,25,0,2260.0,2016-05-02,2016-07-08,2016-01-01,2016-12-31,2016-05-25,44 days,61.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0,7.0,60.97,4,0,0.0,0,1,6.560604,0.0
7689,17689,8,1,0.0,2015-09-16,2016-07-31,2016-01-01,2016-12-31,2016-07-22,9 days,392.52,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,68,4.0,34.84,8,0,0.0,0,1,22.962113,0.0
7709,17709,29,1,2550.0,2016-09-27,2017-08-29,2017-01-01,2017-12-31,2017-07-18,42 days,324.50,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,26.0,0,7.0,60.97,2,2,0.0,0,1,3.280302,0.0
7774,17774,34,0,1380.0,2015-12-03,2016-02-04,2015-07-01,2016-06-30,2015-12-10,56 days,68.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0,7.0,62.02,3,0,0.0,0,1,4.837149,0.0
8232,18232,32,0,3840.0,2014-11-25,2015-09-16,2014-07-01,2014-12-31,2014-12-01,289 days,78.20,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,7.0,28.98,3,1,0.0,0,1,10.351967,0.0
8537,18537,33,0,1890.0,2017-09-01,2018-04-07,2018-01-01,2018-06-30,2018-01-04,93 days,283.60,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0,7.0,59.01,0,0,0.0,0,1,0.000000,0.0
8705,18705,32,1,4460.0,2019-04-02,2019-10-31,2019-07-01,2019-12-31,2019-10-31,0 days,73.10,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0,7.0,28.00,13,1,0.0,0,0,46.428571,0.0
9399,19399,17,1,1080.0,2015-11-07,2016-05-05,2016-01-01,2016-06-30,2016-03-14,52 days,262.60,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,33.0,0,7.0,60.97,2,0,0.0,0,1,3.280302,0.0
10127,20127,22,0,1920.0,2015-11-12,2016-01-04,2015-07-01,2016-06-30,2015-11-20,45 days,54.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,7.0,49.00,2,0,0.0,0,1,4.081633,0.0
10170,20170,19,0,1790.0,2017-11-30,2018-07-08,2018-01-01,2018-12-31,2018-05-15,54 days,127.50,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0,7.0,60.97,1,0,0.0,0,1,1.640151,0.0
10370,20370,29,0,2830.0,2016-09-21,2017-01-04,2016-07-01,2017-06-30,2016-11-24,41 days,95.60,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0,7.0,60.97,2,0,0.0,0,1,3.280302,0.0
10400,20400,75,0,6190.0,2018-10-03,2019-10-02,2019-07-01,2019-12-31,2018-12-06,300 days,45.40,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0,7.0,60.97,0,1,0.0,0,1,0.000000,0.0
10529,20529,7,1,0.0,2015-06-19,2015-09-16,2015-07-01,2015-12-31,2015-07-25,53 days,77.10,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,4.0,4,1.0,4.29,4,1,0.0,0,1,93.240093,0.0
10621,20621,21,0,1520.0,2015-04-09,2015-09-16,2015-01-01,2015-06-30,2015-04-29,140 days,37.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0,7.0,28.98,7,1,0.0,0,1,24.154589,0.0
11444,21444,52,1,4370.0,2016-09-19,2019-10-31,2019-07-01,2019-12-31,2019-10-24,7 days,839.10,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0,94,1.0,8.71,7,3,0.0,0,0,80.367394,0.0
11665,21665,28,0,2530.0,2019-09-04,2019-10-31,2019-07-01,2019-12-31,2019-10-09,22 days,75.70,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0,NaN,52.01,11,0,0.0,0,0,21.149779,0.0
11929,21929,1,1,0.0,2019-04-15,2019-10-31,2019-07-01,2019-12-31,2019-07-13,110 days,264.20,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,5,2.0,17.42,0,1,0.0,0,0,0.000000,0.0
12395,22395,4,0,0.0,2019-10-14,2019-10-31,2019-07-01,2019-12-31,2019-10-26,5 days,69.20,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2,NaN,4.86,2,0,0.0,0,0,41.152263,0.0
13046,23046,44,0,5010.0,2015-07-25,2016-07-31,2016-01-01,2016-12-31,2015-11-28,246 days,189.25,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,7,2.0,17.42,0,2,0.0,0,1,0.000000,0.0
13377,23377,21,0,1830.0,2014-10-21,2015-09-16,2014-07-01,2014-12-31,2014-11-19,301 days,53.20,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0,7.0,28.98,9,1,0.0,0,1,31.055901,0.0
13416,23416,14,1,0.0,2016-01-13,2016-11-01,2016-07-01,2016-12-31,2016-05-28,157 days,323.60,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,8,2.0,13.42,0,1,0.0,0,1,0.000000,0.0
13518,23518,16,0,0.0,2017-09-08,2019-09-10,2019-07-01,2019-12-31,2019-06-28,74 days,607.40,0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,23.0,23,4.0,35.44,0,2,0.0,0,1,0.000000,0.0
13549,23549,23,1,1700.0,2015-11-02,2016-02-29,2015-07-01,2016-06-30,2016-02-11,18 days,119.85,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.0,0,7.0,62.02,17,0,0.0,0,1,27.410513,0.0
13813,23813,50,0,3250.0,2014-09-01,2015-09-14,2014-07-01,2015-06-30,2014-12-04,284 days,192.20,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,0,7.0,60.97,2,1,0.0,0,1,3.280302,0.0
14510,24510,20,1,1360.0,2015-09-08,2016-07-31,2016-01-01,2016-12-31,2016-07-05,26 days,350.10,0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,27.0,26,2.0,17.42,1,0,0.0,0,1,5.740528,0.0
14824,24824,5,0,0.0,2017-09-05,2018-01-07,2017-07-01,2018-06-30,2017-11-18,50 days,143.60,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,7,2.0,17.42,1,0,0.0,0,1,5.740528,0.0

Se tiver NaN nas atividades, e zero na soma, imputar o NaN como 1

Monthly paid value

In [36]:
sports_data['TotalMonths'] = (sports_data['EnrollmentFinish'] - sports_data['EnrollmentStart']) // np.timedelta64(1, 'M')
sports_data['TotalMonths'] = np.where(sports_data['TotalMonths'] <= 0, 1, sports_data['TotalMonths']) #cases in which is less than one month, we will assume one month

sports_data['MonthlyValue'] = sports_data['LifetimeValue'] / sports_data['TotalMonths']

sports_data.drop('TotalMonths', axis=1) #drop total months column since we only needed it for this code

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,UseByTime,AthleticsActivities,WaterActivities,FitnessActivities,DanceActivities,TeamActivities,RacketActivities,CombatActivities,NatureActivities,SpecialActivities,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout,PercentageOfVisits,NumberOfActivities,MonthlyValue
0,10000,60,0,5500.0,2019-09-03,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1 days,89.35,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,7,NaN,6.28,2,0,0.0,0,0,31.847134,1.0,89.350000
1,10001,29,0,2630.0,2014-08-12,2015-09-14,2015-01-01,2015-12-31,2015-07-16,60 days,479.20,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,23.0,1,2.0,17.42,1,2,0.0,0,1,5.740528,1.0,39.933333
2,10002,23,1,1980.0,2017-05-02,2017-06-01,2017-01-01,2017-06-30,2017-05-25,7 days,37.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0,7.0,30.03,6,0,0.0,0,1,19.980020,1.0,37.600000
3,10003,9,1,0.0,2018-09-05,2019-02-12,2018-07-01,2019-06-30,2019-01-21,22 days,155.40,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20.0,2,2.0,17.72,3,0,0.0,0,1,16.930023,1.0,31.080000
4,10004,35,1,4320.0,2016-04-20,2018-06-07,2018-01-01,2018-06-30,2017-11-09,210 days,373.20,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,41.0,0,7.0,60.97,0,3,0.0,0,1,0.000000,1.0,14.928000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14937,24937,14,1,0.0,2016-09-08,2019-10-31,2019-07-01,2019-12-31,2019-10-29,2 days,1460.45,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,112.0,96,4.0,34.84,8,3,0.0,0,0,22.962113,1.0,39.471622
14938,24938,39,1,NaN,2015-09-17,2016-06-04,2016-01-01,2016-06-30,2016-04-27,38 days,343.85,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,57.0,0,7.0,60.97,3,0,0.0,0,1,4.920453,1.0,42.981250
14939,24939,20,1,1810.0,2017-03-01,2017-03-31,2017-01-01,2017-06-30,2017-03-29,2 days,43.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0,7.0,30.03,8,0,0.0,0,1,26.640027,1.0,43.600000
14940,24940,55,1,4800.0,2018-03-01,2019-10-31,2019-07-01,2019-12-31,2019-10-28,3 days,788.60,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,185.0,155,3.0,15.87,7,2,0.0,0,0,44.108381,1.0,41.505263
14941,24941,32,0,3700.0,2016-04-01,2019-06-11,2019-01-01,2019-06-30,2019-05-28,14 days,919.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,169.0,1,7.0,60.97,13,4,0.0,0,1,21.321962,1.0,24.854054

Percentage of visits that were classes

In [37]:
sports_data['PercentageOfClasses'] = sports_data['AttendedClasses'] / sports_data['NumberOfFrequencies'] * 100

In [38]:
sports_data.loc[(sports_data['HasReferences'] == 1) & (sports_data['NumberOfReferences'] == 0), 'HasReferences'] = 0

crianÃ§as tambÃ©m podem ter special e  other activities.

In [39]:
sports_data[sports_data['Age'] < 3]['OtherActivities'].value_counts()

OtherActivities
0.0    379
Name: count, dtype: int64

<h2>Identifying missing values in binary categories

In [42]:
sports_data[sports_data['UseByTime'].isna()]

Empty DataFrame
Columns: [ID, Age, Gender, Income, EnrollmentStart, EnrollmentFinish, LastPeriodStart, LastPeriodFinish, DateLastVisit, DaysWithoutFrequency, LifetimeValue, UseByTime, AthleticsActivities, WaterActivities, FitnessActivities, DanceActivities, TeamActivities, RacketActivities, CombatActivities, NatureActivities, SpecialActivities, OtherActivities, NumberOfFrequencies, AttendedClasses, AllowedWeeklyVisitsBySLA, AllowedNumberOfVisitsBySLA, RealNumberOfVisits, NumberOfRenewals, HasReferences, NumberOfReferences, Dropout, PercentageOfVisits, NumberOfActivities, TotalMonths, MonthlyValue, PercentageOfClasses]
Index: []

In [43]:
sports_data[sports_data['AthleticsActivities'].isna()]

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,UseByTime,AthleticsActivities,WaterActivities,FitnessActivities,DanceActivities,TeamActivities,RacketActivities,CombatActivities,NatureActivities,SpecialActivities,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout,PercentageOfVisits,NumberOfActivities,TotalMonths,MonthlyValue,PercentageOfClasses
229,10229,35,1,3740.0,2017-03-24,2018-07-31,2018-01-01,2018-12-31,2018-07-25,6 days,475.00,0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59.0,19,1.0,8.71,8,2,0.0,0,1,91.848450,1.0,15,31.666667,32.203390
1480,11480,20,0,1790.0,2019-04-18,2019-07-09,2019-01-01,2019-12-31,2019-06-26,13 days,70.80,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0,7.0,60.97,7,0,0.0,0,1,11.481056,1.0,2,35.400000,0.000000
1650,11650,25,0,2430.0,2015-10-07,2016-02-04,2015-07-01,2016-06-30,2015-12-14,52 days,122.60,0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,12.0,0,7.0,62.02,2,0,0.0,0,1,3.224766,1.0,3,40.866667,0.000000
1961,11961,21,0,1460.0,2019-09-25,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1 days,45.00,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0,NaN,21.98,3,0,0.0,0,0,13.648772,1.0,1,45.000000,0.000000
2050,12050,25,0,2340.0,2015-03-04,2017-04-13,2017-01-01,2017-06-30,2017-03-28,16 days,236.60,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,0,7.0,30.03,4,3,0.0,0,1,13.320013,1.0,24,9.858333,0.000000
2062,12062,17,0,1380.0,2016-10-17,2017-04-07,2017-01-01,2017-06-30,2017-02-06,60 days,230.60,0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,8.0,0,7.0,59.01,0,0,0.0,0,1,0.000000,1.0,5,46.120000,0.000000
2192,12192,39,0,4670.0,2016-10-11,2017-08-01,2017-01-01,2017-12-31,2017-03-21,133 days,272.00,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41.0,0,7.0,60.97,0,2,0.0,0,1,0.000000,1.0,9,30.222222,0.000000
2918,12918,25,0,1920.0,2017-01-03,2018-07-31,2018-01-01,2018-12-31,2018-07-27,4 days,324.00,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,116.0,0,7.0,60.97,6,2,0.0,0,1,9.840905,1.0,18,18.000000,0.000000
3896,13896,13,0,0.0,2016-05-19,2016-07-31,2016-01-01,2016-12-31,2016-07-21,10 days,109.10,0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0,2.0,17.42,3,0,0.0,0,1,17.221584,1.0,2,54.550000,0.000000
3999,13999,21,0,1470.0,2019-03-09,2019-10-31,2019-01-01,2019-06-30,2019-05-23,161 days,86.50,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0,7.0,60.97,3,1,0.0,0,0,4.920453,1.0,7,12.357143,0.000000
5279,15279,9,1,0.0,2014-08-01,2018-01-07,2017-07-01,2018-06-30,2017-11-24,44 days,1054.75,0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52.0,49,2.0,17.42,2,5,0.0,0,1,11.481056,1.0,40,26.368750,94.230769
5817,15817,23,0,1730.0,2017-03-06,2019-04-11,2019-01-01,2019-06-30,2019-03-19,23 days,125.50,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0,7.0,51.03,9,3,0.0,0,1,17.636684,1.0,24,5.229167,0.000000
5934,15934,27,0,2330.0,2015-10-09,2018-08-02,2018-01-01,2018-06-30,2018-04-17,107 days,349.60,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0,7.0,60.97,2,4,0.0,0,1,3.280302,1.0,33,10.593939,0.000000
7324,17324,20,1,2000.0,2017-01-16,2017-04-01,2017-01-01,2017-06-30,2017-01-16,75 days,95.10,0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0,7.0,59.01,0,0,0.0,0,1,0.000000,1.0,2,47.550000,0.000000
7469,17469,20,0,1450.0,2017-10-02,2018-07-31,2018-01-01,2018-12-31,2018-06-21,40 days,223.60,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90.0,0,7.0,67.97,8,0,0.0,0,1,11.769898,1.0,9,24.844444,0.000000
7902,17902,19,0,1920.0,2015-10-13,2016-07-31,2016-01-01,2016-12-31,2016-06-29,32 days,263.60,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52.0,0,7.0,67.97,7,0,0.0,0,1,10.298661,1.0,9,29.288889,0.000000
8718,18718,19,0,2150.0,2016-12-28,2017-03-08,2017-01-01,2017-06-30,2017-02-20,16 days,102.60,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0,7.0,30.03,5,0,0.0,0,1,16.650017,1.0,2,51.300000,0.000000
8749,18749,29,1,3380.0,2017-10-09,2018-01-07,2017-07-01,2018-06-30,2017-11-30,38 days,87.60,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0,7.0,60.97,8,0,0.0,0,1,13.121207,1.0,2,43.800000,0.000000
9185,19185,53,0,6580.0,2015-09-25,2015-12-31,2015-07-01,2015-12-31,2015-12-02,29 days,123.60,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,0,7.0,60.97,10,0,0.0,0,1,16.401509,1.0,3,41.200000,0.000000
9643,19643,24,1,2380.0,2017-05-22,2017-08-29,2017-01-01,2017-06-30,2017-05-23,98 days,43.60,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,7.0,30.03,2,0,0.0,0,1,6.660007,1.0,3,14.533333,0.000000
9900,19900,33,0,3600.0,2015-09-21,2016-07-08,2016-01-01,2016-12-31,2016-05-24,45 days,378.60,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.0,0,7.0,60.97,5,0,0.0,0,1,8.200754,1.0,9,42.066667,0.000000
10585,20585,16,1,0.0,2014-11-15,2016-06-04,2016-01-01,2016-06-30,2016-04-28,37 days,768.30,0,NaN,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,62.0,25,7.0,60.97,3,1,0.0,0,1,4.920453,2.0,18,42.683333,40.322581
10669,20669,24,0,1810.0,2015-09-14,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1 days,1220.95,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,824.0,0,7.0,60.97,49,4,0.0,0,0,80.367394,1.0,48,25.436458,0.000000
10729,20729,2,0,0.0,2015-09-19,2017-03-10,2017-01-01,2017-06-30,2017-01-14,55 days,669.50,0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0,32,2.0,16.86,1,1,0.0,0,1,5.931198,1.0,17,39.382353,82.051282
10811,20811,28,1,1680.0,2016-05-17,2018-04-07,2018-01-01,2018-06-30,2018-03-05,33 days,643.10,0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,86.0,0,7.0,59.01,5,3,0.0,0,1,8.473140,1.0,22,29.231818,0.000000
10817,20817,20,1,1860.0,2018-03-05,2018-06-07,2018-01-01,2018-06-30,2018-04-11,57 days,50.00,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0,7.0,60.97,2,0,0.0,0,1,3.280302,1.0,3,16.666667,0.000000
10826,20826,5,0,0.0,2014-06-19,2019-10-31,2019-07-01,2019-12-31,2019-10-19,12 days,1924.00,0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,157.0,151,2.0,17.42,4,6,0.0,0,0,22.962113,1.0,63,30.539683,96.178344
11029,21029,19,0,2340.0,2018-11-03,2019-10-31,2019-07-01,2019-12-31,2019-10-26,5 days,281.50,0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0,0,7.0,60.97,4,1,0.0,0,0,6.560604,1.0,11,25.590909,0.000000
12394,22394,36,1,NaN,2016-05-03,2019-09-10,2019-07-01,2019-12-31,2019-07-29,43 days,947.40,0,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,330.0,0,7.0,62.02,8,4,0.0,0,1,12.899065,2.0,39,24.292308,0.000000
12588,22588,20,0,1540.0,2018-11-07,2019-07-09,2019-01-01,2019-12-31,2019-05-21,49 days,91.00,0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0,7.0,60.97,1,0,0.0,0,1,1.640151,1.0,7,13.000000,0.000000
12823,22823,20,0,890.0,2017-10-17,2018-05-28,2018-01-01,2018-06-30,2018-04-23,35 days,80.00,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0,7.0,60.97,4,0,0.0,0,1,6.560604,1.0,7,11.428571,0.000000
13158,23158,23,0,2400.0,2016-01-27,2018-04-07,2018-01-01,2018-06-30,2018-02-05,61 days,99.00,0,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0,7.0,59.01,0,3,0.0,0,1,0.000000,2.0,25,3.960000,0.000000
13537,23537,21,0,2350.0,2014-10-21,2015-09-16,2015-01-01,2015-12-31,2015-06-29,79 days,293.20,0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,28.0,24,2.0,17.42,8,1,0.0,0,1,45.924225,1.0,10,29.320000,85.714286
14668,24668,22,0,1460.0,2016-09-26,2019-10-31,2019-07-01,2019-12-31,2019-10-29,2 days,963.55,0,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,56.0,56,4.0,34.84,9,3,0.0,0,0,25.832377,1.0,36,26.765278,100.000000
14840,24840,62,0,3570.0,2016-07-19,2017-04-07,2017-01-01,2017-06-30,2016-10-18,171 days,186.10,0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,4.0,33.72,0,2,0.0,0,1,0.000000,1.0,8,23.262500,0.000000
14910,24910,25,1,1600.0,2014-09-03,2015-09-14,2015-01-01,2015-06-30,2014-12-15,273 days,285.20,0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,17,3.0,25.29,0,1,0.0,0,1,0.000000,1.0,12,23.766667,100.000000

In [44]:
sports_data[sports_data['WaterActivities'].isna()]

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,UseByTime,AthleticsActivities,WaterActivities,FitnessActivities,DanceActivities,TeamActivities,RacketActivities,CombatActivities,NatureActivities,SpecialActivities,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout,PercentageOfVisits,NumberOfActivities,TotalMonths,MonthlyValue,PercentageOfClasses
333,10333,42,1,4720.0,2016-11-02,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1 days,885.80,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,78.0,63,1.0,8.71,3,3,0.0,0,0,34.443169,0.0,35,25.308571,80.769231
415,10415,53,0,3290.0,2017-10-07,2019-01-14,2018-07-01,2019-06-30,2018-12-14,31 days,264.50,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,5,7.0,42.00,4,1,0.0,0,1,9.523810,0.0,14,18.892857,55.555556
642,10642,21,1,1320.0,2017-03-23,2018-06-07,2018-01-01,2018-06-30,2018-04-16,52 days,84.00,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0,7.0,60.97,2,2,0.0,0,1,3.280302,1.0,14,6.000000,0.000000
780,10780,24,0,2300.0,2019-02-28,2019-10-31,2019-07-01,2019-12-31,2019-10-29,2 days,214.20,0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,75.0,0,7.0,35.00,21,1,0.0,0,0,60.000000,1.0,7,30.600000,0.000000
1046,11046,14,1,0.0,2015-01-29,2018-07-31,2018-01-01,2018-12-31,2018-05-28,64 days,1420.90,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99.0,90,2.0,17.42,0,4,0.0,0,1,0.000000,0.0,41,34.656098,90.909091
1467,11467,18,0,1310.0,2019-10-15,2019-10-31,2019-07-01,2019-12-31,2019-10-29,2 days,47.20,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0,NaN,16.03,3,0,0.0,0,0,18.714910,1.0,1,47.200000,0.000000
1701,11701,26,1,2460.0,2017-02-02,2018-01-22,2017-07-01,2018-06-30,2017-11-30,53 days,248.95,0,0.0,NaN,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,41.0,0,7.0,60.97,7,2,0.0,0,1,11.481056,2.0,11,22.631818,0.000000
1919,11919,19,1,1280.0,2016-03-31,2016-06-30,2016-01-01,2016-06-30,2016-06-04,26 days,91.00,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0,7.0,60.97,8,0,0.0,0,1,13.121207,1.0,2,45.500000,0.000000
3147,13147,46,0,3760.0,2016-03-02,2018-07-31,2018-01-01,2018-12-31,2018-07-25,6 days,806.20,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,115.0,0,7.0,60.97,24,3,0.0,0,1,39.363621,1.0,28,28.792857,0.000000
3222,13222,25,1,1110.0,2016-02-29,2018-01-07,2017-07-01,2018-06-30,2017-11-30,38 days,297.20,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,91.0,0,7.0,60.97,12,3,0.0,0,1,19.681811,1.0,21,14.152381,0.000000
3735,13735,21,0,1200.0,2015-12-29,2016-03-01,2016-01-01,2016-06-30,2016-02-25,5 days,95.60,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,0,7.0,59.99,25,0,0.0,0,1,41.673612,0.0,2,47.800000,0.000000
4471,14471,35,0,1980.0,2014-10-25,2015-09-16,2015-01-01,2015-12-31,2015-03-28,172 days,523.95,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,23.0,23,3.0,26.13,0,1,0.0,0,1,0.000000,1.0,10,52.395000,100.000000
4771,14771,52,0,6260.0,2015-05-28,2019-09-10,2019-07-01,2019-12-31,2019-05-23,110 days,799.90,0,0.0,NaN,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,78.0,59,7.0,62.02,0,5,0.0,0,1,0.000000,2.0,50,15.998000,75.641026
4888,14888,51,0,5380.0,2017-09-11,2019-10-31,2019-07-01,2019-12-31,2019-10-24,7 days,309.00,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41.0,0,7.0,21.98,4,2,0.0,0,0,18.198362,1.0,25,12.360000,0.000000
4985,14985,24,1,1990.0,2019-02-12,2019-05-11,2019-01-01,2019-06-30,2019-04-10,31 days,150.20,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,2,7.0,60.97,8,0,0.0,0,1,13.121207,1.0,2,75.100000,11.111111
5186,15186,30,1,2780.0,2014-10-08,2016-07-08,2016-01-01,2016-12-31,2016-05-25,44 days,402.80,0,0.0,NaN,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,121.0,0,7.0,60.97,9,1,0.0,0,1,14.761358,2.0,20,20.140000,0.000000
5368,15368,8,1,0.0,2016-08-30,2019-06-11,2019-01-01,2019-06-30,2019-05-16,26 days,1061.25,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,140.0,135,2.0,17.42,4,4,0.0,0,1,22.962113,0.0,32,33.164062,96.428571
5439,15439,25,0,2500.0,2014-11-04,2015-09-16,2014-07-01,2014-12-31,2014-11-24,296 days,61.25,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0,7.0,28.98,4,1,0.0,0,1,13.802622,1.0,10,6.125000,0.000000
5976,15976,5,0,0.0,2017-09-08,2018-07-31,2018-01-01,2018-12-31,2018-06-16,45 days,309.35,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,12,2.0,17.42,3,0,0.0,0,1,17.221584,0.0,10,30.935000,60.000000
6672,16672,21,0,2240.0,2016-03-31,2016-06-04,2016-01-01,2016-06-30,2016-04-19,46 days,43.60,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0,7.0,60.97,3,0,0.0,0,1,4.920453,1.0,2,21.800000,0.000000
6843,16843,34,1,1830.0,2019-09-04,2019-10-31,2019-07-01,2019-12-31,2019-10-22,9 days,90.20,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0,NaN,21.98,1,0,0.0,0,0,4.549591,1.0,1,90.200000,0.000000
7689,17689,8,1,0.0,2015-09-16,2016-07-31,2016-01-01,2016-12-31,2016-07-22,9 days,392.52,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,68,4.0,34.84,8,0,0.0,0,1,22.962113,0.0,10,39.252000,97.142857
8135,18135,25,1,1900.0,2015-10-06,2019-04-05,2018-07-01,2018-12-31,2018-09-13,204 days,322.75,0,0.0,NaN,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,42.0,0,7.0,18.97,2,3,0.0,0,1,10.542963,2.0,41,7.871951,0.000000
8165,18165,21,0,1380.0,2015-03-31,2016-12-10,2016-07-01,2016-12-31,2016-12-07,3 days,330.60,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.0,0,7.0,30.03,4,2,0.0,0,1,13.320013,1.0,20,16.530000,0.000000
8270,18270,39,1,1770.0,2019-02-08,2019-03-12,2019-01-01,2019-06-30,2019-02-20,20 days,73.50,0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,0,7.0,31.99,4,0,0.0,0,1,12.503907,1.0,1,73.500000,0.000000
8479,18479,72,1,5190.0,2016-02-15,2016-07-31,2016-01-01,2016-12-31,2016-06-27,34 days,173.00,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0,7.0,67.97,1,0,0.0,0,1,1.471237,1.0,5,34.600000,0.000000
8537,18537,33,0,1890.0,2017-09-01,2018-04-07,2018-01-01,2018-06-30,2018-01-04,93 days,283.60,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0,7.0,59.01,0,0,0.0,0,1,0.000000,0.0,7,40.514286,0.000000
10370,20370,29,0,2830.0,2016-09-21,2017-01-04,2016-07-01,2017-06-30,2016-11-24,41 days,95.60,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0,7.0,60.97,2,0,0.0,0,1,3.280302,0.0,3,31.866667,0.000000
11444,21444,52,1,4370.0,2016-09-19,2019-10-31,2019-07-01,2019-12-31,2019-10-24,7 days,839.10,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0,94,1.0,8.71,7,3,0.0,0,0,80.367394,0.0,36,23.308333,86.238532
11929,21929,1,1,0.0,2019-04-15,2019-10-31,2019-07-01,2019-12-31,2019-07-13,110 days,264.20,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,5,2.0,17.42,0,1,0.0,0,0,0.000000,0.0,6,44.033333,55.555556
12135,22135,23,1,2200.0,2017-10-02,2018-07-08,2018-01-01,2018-12-31,2018-07-05,3 days,138.60,0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,9.0,0,1.0,8.71,5,0,0.0,0,1,57.405281,1.0,9,15.400000,0.000000
12395,22395,4,0,0.0,2019-10-14,2019-10-31,2019-07-01,2019-12-31,2019-10-26,5 days,69.20,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2,NaN,4.86,2,0,0.0,0,0,41.152263,0.0,1,69.200000,100.000000
12438,22438,41,0,4440.0,2017-03-22,2019-10-31,2019-07-01,2019-12-31,2019-10-10,21 days,153.80,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,7.0,52.01,3,3,0.0,0,0,5.768122,1.0,30,5.126667,0.000000
13212,23212,21,0,2040.0,2015-03-02,2015-09-16,2015-01-01,2015-06-30,2015-05-25,114 days,97.60,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0,7.0,28.98,2,1,0.0,0,1,6.901311,1.0,6,16.266667,0.000000
13416,23416,14,1,0.0,2016-01-13,2016-11-01,2016-07-01,2016-12-31,2016-05-28,157 days,323.60,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,8,2.0,13.42,0,1,0.0,0,1,0.000000,0.0,9,35.955556,100.000000
14038,24038,22,1,1310.0,2016-03-01,2016-05-05,2016-01-01,2016-06-30,2016-03-02,64 days,43.60,0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,7.0,60.97,0,0,0.0,0,1,0.000000,1.0,2,21.800000,0.000000
14824,24824,5,0,0.0,2017-09-05,2018-01-07,2017-07-01,2018-06-30,2017-11-18,50 days,143.60,0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,7,2.0,17.42,1,0,0.0,0,1,5.740528,0.0,4,35.900000,100.000000

In [45]:
sports_data[sports_data['FitnessActivities'].isna()]

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,UseByTime,AthleticsActivities,WaterActivities,FitnessActivities,DanceActivities,TeamActivities,RacketActivities,CombatActivities,NatureActivities,SpecialActivities,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout,PercentageOfVisits,NumberOfActivities,TotalMonths,MonthlyValue,PercentageOfClasses
512,10512,60,0,5620.0,2014-12-10,2016-07-08,2016-01-01,2016-12-31,2016-05-02,67 days,545.80,0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,0,7.0,60.97,0,1,0.0,0,1,0.000000,1.0,18,30.322222,0.000000
682,10682,22,0,2250.0,2014-10-08,2015-09-16,2015-01-01,2015-06-30,2015-06-04,104 days,144.45,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,0,7.0,28.98,11,1,0.0,0,1,37.957212,0.0,11,13.131818,0.000000
1058,11058,22,1,2070.0,2018-03-19,2019-10-31,2019-07-01,2019-12-31,2019-10-18,13 days,294.20,0,0.0,0.0,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,60.0,0,7.0,30.03,4,2,0.0,0,0,13.320013,1.0,19,15.484211,0.000000
1127,11127,51,1,5270.0,2017-05-08,2018-04-01,2018-01-01,2018-06-30,2018-03-15,17 days,412.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,98.0,3,7.0,59.01,11,2,0.0,0,1,18.640908,1.0,10,41.260000,3.061224
1443,11443,42,0,5230.0,2018-03-28,2018-07-31,2018-01-01,2018-12-31,2018-07-30,1 days,93.40,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,0,7.0,60.97,18,0,0.0,0,1,29.522716,0.0,4,23.350000,0.000000
3307,13307,23,1,2030.0,2014-10-03,2015-09-16,2014-07-01,2014-12-31,2014-11-01,319 days,123.20,0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,3,2.0,17.42,2,1,0.0,0,1,11.481056,1.0,11,11.200000,100.000000
3457,13457,11,1,0.0,2015-10-03,2015-12-05,2015-07-01,2015-12-31,2015-10-24,42 days,68.60,0,0.0,0.0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1,1.0,8.71,1,0,0.0,0,1,11.481056,1.0,2,34.300000,100.000000
4085,14085,22,1,2100.0,2015-04-16,2015-09-16,2015-01-01,2015-06-30,2015-04-28,141 days,37.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,7.0,28.98,2,1,0.0,0,1,6.901311,0.0,4,9.400000,0.000000
4289,14289,57,1,7010.0,2019-01-02,2019-10-31,2019-07-01,2019-12-31,2019-10-25,6 days,250.20,0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,11,1.0,1.86,2,1,0.0,0,0,107.526882,1.0,9,27.800000,50.000000
4619,14619,24,0,1940.0,2017-11-06,2018-05-08,2018-01-01,2018-06-30,2018-03-19,50 days,123.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,0,7.0,60.97,2,0,0.0,0,1,3.280302,0.0,5,24.720000,0.000000
5013,15013,19,1,1090.0,2016-01-06,2016-03-06,2016-01-01,2016-06-30,2016-01-20,46 days,47.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0,7.0,59.99,4,0,0.0,0,1,6.667778,0.0,1,47.600000,0.000000
5067,15067,19,0,1750.0,2016-02-19,2016-07-08,2016-01-01,2016-12-31,2016-05-27,42 days,128.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.0,0,7.0,60.97,4,0,0.0,0,1,6.560604,0.0,4,32.150000,0.000000
5778,15778,31,1,2460.0,2018-05-02,2018-07-31,2018-01-01,2018-12-31,2018-06-15,46 days,87.40,0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0,7.0,60.97,3,0,0.0,0,1,4.920453,1.0,2,43.700000,0.000000
6144,16144,42,0,4000.0,2014-09-09,2019-10-31,2019-07-01,2019-12-31,2019-10-31,0 days,1885.45,0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,769.0,6,7.0,60.97,37,5,0.0,0,0,60.685583,2.0,60,31.424167,0.780234
6282,16282,25,0,2260.0,2016-05-02,2016-07-08,2016-01-01,2016-12-31,2016-05-25,44 days,61.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0,7.0,60.97,4,0,0.0,0,1,6.560604,0.0,2,30.800000,0.000000
6927,16927,49,1,5090.0,2014-10-06,2015-09-16,2015-01-01,2016-06-30,2015-06-05,103 days,352.20,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,20.0,20,2.0,68.58,1,1,0.0,0,1,1.458151,1.0,11,32.018182,100.000000
7774,17774,34,0,1380.0,2015-12-03,2016-02-04,2015-07-01,2016-06-30,2015-12-10,56 days,68.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0,7.0,62.02,3,0,0.0,0,1,4.837149,0.0,2,34.300000,0.000000
8232,18232,32,0,3840.0,2014-11-25,2015-09-16,2014-07-01,2014-12-31,2014-12-01,289 days,78.20,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,7.0,28.98,3,1,0.0,0,1,10.351967,0.0,9,8.688889,0.000000
8705,18705,32,1,4460.0,2019-04-02,2019-10-31,2019-07-01,2019-12-31,2019-10-31,0 days,73.10,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0,7.0,28.00,13,1,0.0,0,0,46.428571,0.0,6,12.183333,0.000000
9112,19112,17,0,1700.0,2017-11-02,2018-07-31,2018-01-01,2018-06-30,2018-03-02,151 days,153.60,1,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0,7.0,60.97,0,0,0.0,0,1,0.000000,1.0,8,19.200000,0.000000
10127,20127,22,0,1920.0,2015-11-12,2016-01-04,2015-07-01,2016-06-30,2015-11-20,45 days,54.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,7.0,49.00,2,0,0.0,0,1,4.081633,0.0,1,54.600000,0.000000
10170,20170,19,0,1790.0,2017-11-30,2018-07-08,2018-01-01,2018-12-31,2018-05-15,54 days,127.50,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0,7.0,60.97,1,0,0.0,0,1,1.640151,0.0,7,18.214286,0.000000
10400,20400,75,0,6190.0,2018-10-03,2019-10-02,2019-07-01,2019-12-31,2018-12-06,300 days,45.40,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0,7.0,60.97,0,1,0.0,0,1,0.000000,0.0,11,4.127273,0.000000
10621,20621,21,0,1520.0,2015-04-09,2015-09-16,2015-01-01,2015-06-30,2015-04-29,140 days,37.60,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0,7.0,28.98,7,1,0.0,0,1,24.154589,0.0,5,7.520000,0.000000
11567,21567,10,1,0.0,2015-08-24,2016-07-31,2016-01-01,2016-12-31,2016-07-13,18 days,272.60,0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.0,25,2.0,17.42,4,2,1.0,1,1,22.962113,1.0,11,24.781818,67.567568
11665,21665,28,0,2530.0,2019-09-04,2019-10-31,2019-07-01,2019-12-31,2019-10-09,22 days,75.70,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0,NaN,52.01,11,0,0.0,0,0,21.149779,0.0,1,75.700000,0.000000
12269,22269,23,1,2000.0,2015-06-25,2015-09-16,2015-01-01,2015-12-31,2015-07-06,72 days,49.60,0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0,7.0,35.98,9,1,0.0,0,1,25.013897,1.0,2,24.800000,0.000000
12359,22359,12,1,0.0,2018-11-02,2019-10-31,2019-07-01,2019-12-31,2019-10-28,3 days,459.40,0,0.0,1.0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,61.0,50,4.0,34.84,14,1,0.0,0,0,40.183697,2.0,11,41.763636,81.967213
12457,22457,12,0,0.0,2015-09-22,2016-07-31,2016-01-01,2016-12-31,2016-06-18,43 days,462.10,0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,50.0,37,2.0,17.42,3,0,NaN,1,1,17.221584,1.0,10,46.210000,74.000000
13046,23046,44,0,5010.0,2015-07-25,2016-07-31,2016-01-01,2016-12-31,2015-11-28,246 days,189.25,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,7,2.0,17.42,0,2,0.0,0,1,0.000000,0.0,12,15.770833,116.666667
13377,23377,21,0,1830.0,2014-10-21,2015-09-16,2014-07-01,2014-12-31,2014-11-19,301 days,53.20,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0,7.0,28.98,9,1,0.0,0,1,31.055901,0.0,10,5.320000,0.000000
13549,23549,23,1,1700.0,2015-11-02,2016-02-29,2015-07-01,2016-06-30,2016-02-11,18 days,119.85,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.0,0,7.0,62.02,17,0,0.0,0,1,27.410513,0.0,3,39.950000,0.000000
13813,23813,50,0,3250.0,2014-09-01,2015-09-14,2014-07-01,2015-06-30,2014-12-04,284 days,192.20,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,0,7.0,60.97,2,1,0.0,0,1,3.280302,0.0,12,16.016667,0.000000
13867,23867,21,0,1690.0,2014-10-10,2015-09-16,2015-01-01,2015-06-30,2014-12-05,285 days,131.20,0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0,7.0,59.01,0,1,0.0,0,1,0.000000,1.0,11,11.927273,0.000000
14756,24756,21,0,1660.0,2018-10-11,2019-10-31,2019-01-01,2019-06-30,2019-05-28,156 days,115.30,0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,19,1.0,8.71,10,1,0.0,0,0,114.810563,1.0,12,9.608333,90.476190

In [46]:
sports_data[sports_data['DanceActivities'].isna()]

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,UseByTime,AthleticsActivities,WaterActivities,FitnessActivities,DanceActivities,TeamActivities,RacketActivities,CombatActivities,NatureActivities,SpecialActivities,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout,PercentageOfVisits,NumberOfActivities,TotalMonths,MonthlyValue,PercentageOfClasses
387,10387,19,1,390.0,2016-04-21,2016-07-31,2016-07-01,2016-12-31,2016-07-16,15 days,63.60,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0,7.0,24.99,3,0,0.0,0,1,12.004802,1.0,3,21.200000,0.000000
738,10738,44,1,4390.0,2019-06-28,2019-10-31,2019-07-01,2019-12-31,2019-10-07,24 days,113.10,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,7.0,48.02,2,1,0.0,0,0,4.164931,1.0,4,28.275000,0.000000
861,10861,21,0,1850.0,2014-10-09,2015-09-16,2015-01-01,2015-06-30,2015-05-27,112 days,151.20,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0,7.0,28.98,1,1,0.0,0,1,3.450656,1.0,11,13.745455,0.000000
1499,11499,71,1,2870.0,2019-10-02,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1 days,65.20,0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,9.0,0,NaN,28.98,9,0,0.0,0,0,31.055901,1.0,1,65.200000,0.000000
1965,11965,2,1,0.0,2014-11-15,2015-09-16,2015-01-01,2015-12-31,2015-06-06,102 days,369.70,0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,14.0,11,1.0,8.71,1,1,0.0,0,1,11.481056,1.0,9,41.077778,78.571429
2169,12169,60,1,6670.0,2014-09-01,2015-09-14,2015-01-01,2015-12-31,2014-12-19,269 days,479.20,0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,22.0,20,3.0,26.13,0,1,0.0,0,1,0.000000,1.0,12,39.933333,90.909091
2377,12377,22,0,NaN,2015-11-27,2016-07-08,2016-01-01,2016-12-31,2016-05-30,39 days,173.60,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0,7.0,59.01,2,0,0.0,0,1,3.389256,1.0,7,24.800000,0.000000
2639,12639,24,1,2470.0,2018-01-26,2018-04-07,2018-01-01,2018-06-30,2018-02-16,50 days,56.80,0,0.0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0,7.0,59.01,1,0,0.0,0,1,1.694628,1.0,2,28.400000,0.000000
2915,12915,7,1,0.0,2018-09-15,2018-11-11,2018-07-01,2018-12-31,2018-10-30,12 days,69.40,0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,5.0,4,4.0,23.44,5,0,0.0,0,1,21.331058,1.0,1,69.400000,80.000000
2959,12959,24,1,1840.0,2017-10-09,2018-06-07,2018-01-01,2018-06-30,2018-04-06,62 days,188.60,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,27.0,0,7.0,60.97,0,0,0.0,0,1,0.000000,1.0,7,26.942857,0.000000
3465,13465,27,1,2440.0,2018-03-01,2019-03-12,2019-01-01,2019-06-30,2019-02-12,28 days,278.40,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,31.0,0,7.0,35.00,3,2,0.0,0,1,8.571429,1.0,12,23.200000,0.000000
3685,13685,5,1,0.0,2014-08-21,2019-10-13,2019-07-01,2019-12-31,2019-05-30,136 days,1763.38,0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,144.0,75,2.0,17.42,0,6,1.0,3,1,0.000000,1.0,60,29.389667,52.083333
3978,13978,31,1,3600.0,2017-02-07,2017-08-29,2017-01-01,2017-12-31,2017-05-31,90 days,204.85,0,0.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,42.0,0,7.0,90.02,1,0,0.0,0,1,1.110864,2.0,6,34.141667,0.000000
4790,14790,22,1,1730.0,2016-10-06,2016-12-18,2016-07-01,2016-12-31,2016-12-14,4 days,71.60,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0,7.0,30.03,8,0,0.0,0,1,26.640027,1.0,2,35.800000,0.000000
5654,15654,10,1,0.0,2016-06-09,2019-05-11,2019-01-01,2019-06-30,2018-11-24,168 days,489.90,0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,1.0,8.71,0,4,0.0,0,1,0.000000,1.0,34,14.408824,0.000000
6221,16221,26,1,2610.0,2018-01-16,2018-06-07,2018-01-01,2018-06-30,2018-04-28,40 days,43.40,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0,7.0,60.97,5,0,0.0,0,1,8.200754,1.0,4,10.850000,0.000000
6591,16591,21,1,1610.0,2014-09-24,2015-09-16,2014-07-01,2015-06-30,2014-10-08,343 days,68.20,0,0.0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0,7.0,60.97,0,1,0.0,0,1,0.000000,1.0,11,6.200000,0.000000
7877,17877,64,1,5900.0,2017-05-24,2019-03-12,2019-01-01,2019-06-30,2019-01-31,40 days,656.00,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,164.0,0,7.0,59.01,8,3,0.0,0,1,13.557024,1.0,21,31.238095,0.000000
8266,18266,21,0,1240.0,2018-10-01,2018-11-11,2018-07-01,2018-12-31,2018-10-31,11 days,43.90,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0,7.0,41.02,7,0,0.0,0,1,17.064846,1.0,1,43.900000,0.000000
8321,18321,21,0,1040.0,2016-03-01,2016-06-04,2016-01-01,2016-06-30,2016-04-28,37 days,58.00,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0,7.0,60.97,5,0,0.0,0,1,8.200754,1.0,3,19.333333,0.000000
8738,18738,24,1,1960.0,2015-01-29,2015-09-16,2015-01-01,2015-06-30,2015-04-27,142 days,92.00,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,22.0,0,7.0,59.99,12,1,0.0,0,1,20.003334,1.0,7,13.142857,0.000000
9583,19583,41,1,4290.0,2015-10-24,2016-02-04,2015-07-01,2016-06-30,2015-12-17,49 days,103.60,0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,6.0,2,1.0,8.86,2,0,0.0,0,1,22.573363,1.0,3,34.533333,33.333333
9731,19731,14,0,0.0,2014-10-18,2015-09-16,2015-01-01,2015-12-31,2014-11-01,319 days,193.20,0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2,1.0,8.71,0,1,0.0,0,1,0.000000,1.0,10,19.320000,100.000000
9835,19835,11,0,0.0,2017-06-26,2019-10-13,2019-07-01,2019-12-31,2019-07-20,85 days,1513.90,0,1.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,66.0,66,2.0,17.42,0,3,0.0,0,1,0.000000,2.0,27,56.070370,100.000000
9888,19888,21,0,2060.0,2015-02-19,2015-09-16,2015-01-01,2015-06-30,2015-04-16,153 days,83.60,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0,7.0,28.98,5,1,0.0,0,1,17.253278,1.0,6,13.933333,0.000000
9966,19966,28,0,1930.0,2017-11-07,2018-07-31,2018-01-01,2018-12-31,2018-03-19,134 days,353.60,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,48.0,0,7.0,60.97,0,0,0.0,0,1,0.000000,1.0,8,44.200000,0.000000
9979,19979,24,1,2060.0,2018-09-07,2019-10-31,2019-07-01,2019-12-31,2019-10-22,9 days,360.60,0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,18.0,18,4.0,34.28,6,1,0.0,0,0,17.502917,1.0,13,27.738462,100.000000
10060,20060,25,0,1850.0,2015-07-01,2015-09-16,2015-07-01,2015-12-31,2015-07-23,55 days,56.10,0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5,2.0,8.58,5,1,0.0,0,1,58.275058,1.0,2,28.050000,100.000000
10335,20335,34,0,3980.0,2016-01-04,2016-03-31,2016-01-01,2016-06-30,2016-03-02,29 days,146.60,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0,7.0,59.99,4,0,0.0,0,1,6.667778,1.0,2,73.300000,0.000000
10369,20369,48,0,5290.0,2017-09-27,2018-07-31,2018-01-01,2018-12-31,2018-06-29,32 days,111.40,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0,7.0,67.97,4,0,0.0,0,1,5.884949,1.0,9,12.377778,0.000000
10373,20373,48,0,NaN,2017-10-30,2018-05-08,2018-01-01,2018-06-30,2018-04-20,18 days,168.60,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0,7.0,60.97,8,0,0.0,0,1,13.121207,1.0,6,28.100000,0.000000
10667,20667,30,0,2870.0,2016-01-18,2019-07-31,2018-07-01,2019-06-30,2018-12-13,230 days,650.10,1,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,113.0,0,7.0,60.97,5,4,0.0,0,1,8.200754,1.0,41,15.856098,0.000000
11281,21281,16,0,NaN,2017-12-29,2018-07-08,2018-01-01,2018-12-31,2018-04-07,92 days,218.60,0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,21.0,20,3.0,26.13,0,0,0.0,0,1,0.000000,1.0,6,36.433333,95.238095
12005,22005,11,0,0.0,2017-06-06,2019-10-31,2018-07-01,2019-06-30,2019-10-28,3 days,1588.50,0,0.0,1.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,40.0,10,7.0,62.02,8,3,0.0,0,0,12.899065,2.0,28,56.732143,25.000000
12460,22460,19,0,1530.0,2014-10-06,2015-09-16,2014-07-01,2014-12-31,2014-11-04,316 days,47.20,0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0,7.0,28.98,11,1,0.0,0,1,37.957212,1.0,11,4.290909,0.000000
13943,23943,21,0,1330.0,2015-02-11,2016-07-31,2015-07-01,2015-12-31,2015-09-28,307 days,79.20,1,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0,7.0,52.01,4,2,0.0,0,1,7.690829,1.0,17,4.658824,0.000000

In [47]:
sports_data[sports_data['TeamActivities'].isna()]

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,UseByTime,AthleticsActivities,WaterActivities,FitnessActivities,DanceActivities,TeamActivities,RacketActivities,CombatActivities,NatureActivities,SpecialActivities,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout,PercentageOfVisits,NumberOfActivities,TotalMonths,MonthlyValue,PercentageOfClasses
435,10435,20,0,2060.0,2015-03-25,2015-09-16,2015-01-01,2015-06-30,2015-04-27,142 days,37.60,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,4.0,0,7.0,28.98,4,1,0.0,0,1,13.802622,1.0,5,7.520000,0.000000
1073,11073,7,0,0.0,2016-11-05,2019-07-09,2019-01-01,2019-12-31,2019-04-26,74 days,783.80,0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,52.0,11,2.0,17.42,0,2,0.0,0,1,0.000000,1.0,31,25.283871,21.153846
2688,12688,26,1,2630.0,2015-10-20,2016-04-04,2016-01-01,2016-06-30,2015-10-28,159 days,83.00,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,3.0,0,7.0,59.99,0,0,0.0,0,1,0.000000,1.0,5,16.600000,0.000000
2898,12898,36,0,4400.0,2015-08-21,2019-01-14,2018-07-01,2019-06-30,2018-12-26,19 days,1338.20,0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,147.0,147,2.0,17.42,11,5,0.0,0,1,63.145809,1.0,40,33.455000,100.000000
2944,12944,23,0,2060.0,2016-04-15,2016-06-04,2016-01-01,2016-06-30,2016-04-20,45 days,28.60,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,2.0,0,7.0,45.99,2,0,0.0,0,1,4.348771,1.0,1,28.600000,0.000000
2964,12964,15,0,0.0,2017-06-16,2019-10-31,2019-07-01,2019-12-31,2019-03-26,219 days,861.20,0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,13.0,13,2.0,17.42,0,3,0.0,0,0,0.000000,0.0,27,31.896296,100.000000
3204,13204,22,0,1530.0,2015-09-14,2016-06-06,2016-01-01,2016-06-30,2015-11-30,189 days,95.60,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,18.0,0,7.0,60.97,0,0,0.0,0,1,0.000000,1.0,8,11.950000,0.000000
3716,13716,19,0,1200.0,2014-10-15,2015-09-16,2014-07-01,2014-12-31,2014-11-28,292 days,83.20,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,21.0,0,7.0,28.98,4,1,0.0,0,1,13.802622,1.0,10,8.320000,0.000000
3776,13776,22,0,1770.0,2017-04-04,2019-05-11,2019-01-01,2019-06-30,2019-04-09,32 days,99.50,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,11.0,1,7.0,60.97,6,3,0.0,0,1,9.840905,1.0,24,4.145833,9.090909
3985,13985,29,1,2900.0,2018-09-21,2019-10-31,2019-07-01,2019-12-31,2019-10-09,22 days,233.60,0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,24.0,19,1.0,3.14,1,1,0.0,0,0,31.847134,1.0,13,17.969231,79.166667
4170,14170,20,0,1710.0,2015-09-02,2015-11-05,2015-07-01,2015-12-31,2015-09-21,45 days,38.60,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,2.0,0,7.0,52.01,3,0,0.0,0,1,5.768122,1.0,2,19.300000,0.000000
4652,14652,22,0,1180.0,2015-02-18,2015-09-16,2015-01-01,2015-06-30,2015-03-13,187 days,53.60,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,8.0,0,7.0,28.98,8,1,0.0,0,1,27.605245,1.0,6,8.933333,0.000000
4758,14758,29,0,2900.0,2018-09-11,2019-07-09,2019-01-01,2019-12-31,2019-05-10,60 days,348.40,0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,23.0,20,2.0,17.42,1,0,0.0,0,1,5.740528,1.0,9,38.711111,86.956522
4977,14977,9,0,0.0,2018-05-10,2019-07-09,2019-01-01,2019-12-31,2019-06-06,33 days,335.15,0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,25.0,26,4.0,34.84,3,2,0.0,0,1,8.610792,1.0,13,25.780769,104.000000
5045,15045,9,1,0.0,2014-09-19,2019-10-31,2019-07-01,2019-12-31,2019-10-26,5 days,1377.10,0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,97.0,96,2.0,16.86,7,5,0.0,0,0,41.518387,1.0,60,22.951667,98.969072
5077,15077,58,1,5330.0,2015-06-19,2015-09-16,2015-07-01,2015-12-31,2015-07-30,48 days,83.10,0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,1.0,0.0,6.0,6,2.0,8.58,6,1,0.0,0,1,69.930070,1.0,2,41.550000,100.000000
6099,16099,24,0,1900.0,2015-05-13,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1 days,80.30,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,12.0,0,7.0,27.02,7,5,0.0,0,0,25.906736,1.0,52,1.544231,0.000000
7434,17434,7,1,0.0,2016-08-05,2019-10-31,2019-07-01,2019-12-31,2019-10-15,16 days,1095.80,0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,46.0,40,2.0,8.58,4,4,0.0,0,0,46.620047,1.0,38,28.836842,86.956522
8085,18085,23,0,2400.0,2014-10-01,2015-09-16,2015-01-01,2015-12-31,2014-12-17,273 days,131.20,0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,19.0,0,7.0,60.97,0,1,0.0,0,1,0.000000,1.0,11,11.927273,0.000000
8859,18859,55,1,6630.0,2015-03-10,2019-07-31,2019-07-01,2019-12-31,2019-04-18,104 days,2864.72,1,0.0,1.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,768.0,100,7.0,60.97,0,5,0.0,0,1,0.000000,2.0,51,56.170980,13.020833
8899,18899,24,0,1860.0,2014-11-10,2017-12-08,2017-07-01,2017-12-31,2017-10-18,51 days,454.80,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,90.0,0,7.0,60.97,5,3,0.0,0,1,8.200754,1.0,36,12.633333,0.000000
9146,19146,1,1,0.0,2016-07-08,2016-07-31,2016-07-01,2016-12-31,2016-07-23,8 days,60.60,0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0,2.0,6.58,1,0,0.0,0,1,15.197568,1.0,1,60.600000,0.000000
9720,19720,25,0,2250.0,2014-10-28,2016-07-31,2016-01-01,2016-12-31,2016-07-28,3 days,291.80,1,0.0,1.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,55.0,0,7.0,58.03,19,1,0.0,0,1,32.741685,2.0,20,14.590000,0.000000
10270,20270,23,0,1800.0,2019-06-05,2019-07-09,2019-01-01,2019-12-31,2019-06-25,14 days,47.20,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,7.0,0,7.0,34.02,7,0,0.0,0,1,20.576132,1.0,1,47.200000,0.000000
10279,20279,6,1,0.0,2017-02-01,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1 days,1378.70,0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,110.0,82,4.0,34.84,11,3,0.0,0,0,31.572905,1.0,32,43.084375,74.545455
10367,20367,2,0,0.0,2018-07-21,2019-02-12,2019-01-01,2019-06-30,2019-01-05,38 days,186.40,0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,9.0,9,2.0,11.72,1,2,0.0,0,1,8.532423,1.0,6,31.066667,100.000000
10450,20450,49,0,5330.0,2015-07-24,2016-06-30,2016-01-01,2016-06-30,2016-06-09,21 days,296.60,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,48.0,0,7.0,60.97,5,2,0.0,0,1,8.200754,1.0,11,26.963636,0.000000
12484,22484,23,0,2190.0,2019-03-06,2019-09-10,2019-07-01,2019-12-31,2019-07-23,49 days,145.20,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,51.0,0,7.0,62.02,4,1,0.0,0,1,6.449532,1.0,6,24.200000,0.000000
13022,23022,19,1,1290.0,2018-10-29,2019-01-14,2018-07-01,2019-06-30,2018-12-29,16 days,69.00,0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,0.0,0.0,3.0,0,7.0,60.97,3,0,0.0,0,1,4.920453,1.0,2,34.500000,0.000000
13057,23057,38,0,1820.0,2016-03-02,2017-06-03,2017-01-01,2017-06-30,2017-04-10,54 days,315.20,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,44.0,0,7.0,60.97,2,2,0.0,0,1,3.280302,1.0,14,22.514286,0.000000
13417,23417,63,0,4150.0,2016-06-08,2019-10-31,2019-07-01,2019-12-31,2019-10-10,21 days,489.60,1,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,21.0,16,2.0,14.86,2,4,0.0,0,1,13.458950,1.0,40,12.240000,76.190476
13518,23518,16,0,0.0,2017-09-08,2019-09-10,2019-07-01,2019-12-31,2019-06-28,74 days,607.40,0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,23.0,23,4.0,35.44,0,2,0.0,0,1,0.000000,0.0,23,26.408696,100.000000
13659,23659,24,0,2120.0,2016-04-26,2016-07-31,2016-01-01,2016-12-31,2016-06-21,40 days,61.60,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,7.0,0,7.0,67.97,2,0,0.0,0,1,2.942475,1.0,3,20.533333,0.000000
13987,23987,11,1,0.0,2017-09-04,2019-01-14,2018-07-01,2019-06-30,2018-12-12,33 days,654.00,0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,49.0,43,4.0,34.84,3,1,0.0,0,1,8.610792,1.0,16,40.875000,87.755102
14835,24835,21,1,1700.0,2019-03-11,2019-09-10,2019-07-01,2019-12-31,2019-07-30,42 days,110.20,0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,26.0,0,7.0,62.02,5,1,0.0,0,1,8.061916,1.0,5,22.040000,0.000000

In [48]:
sports_data[sports_data['RacketActivities'].isna()]

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,UseByTime,AthleticsActivities,WaterActivities,FitnessActivities,DanceActivities,TeamActivities,RacketActivities,CombatActivities,NatureActivities,SpecialActivities,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout,PercentageOfVisits,NumberOfActivities,TotalMonths,MonthlyValue,PercentageOfClasses
240,10240,40,0,3070.0,2015-01-07,2015-12-05,2015-07-01,2015-12-31,2015-10-20,46 days,157.20,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,6.0,0,7.0,45.99,1,1,0.0,0,1,2.174386,1.0,10,15.720000,0.000000
472,10472,24,1,2380.0,2018-02-07,2018-07-08,2018-01-01,2018-12-31,2018-05-29,40 days,125.40,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,48.0,0,7.0,60.97,12,0,0.0,0,1,19.681811,1.0,4,31.350000,0.000000
809,10809,20,0,1480.0,2018-02-26,2018-06-07,2018-01-01,2018-06-30,2018-04-05,63 days,75.40,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,6.0,6,2.0,17.42,0,0,0.0,0,1,0.000000,1.0,3,25.133333,100.000000
1014,11014,23,1,2540.0,2014-10-09,2015-09-16,2015-01-01,2015-12-31,2015-03-26,174 days,172.00,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,69.0,0,7.0,60.97,0,1,0.0,0,1,0.000000,1.0,11,15.636364,0.000000
3388,13388,15,0,0.0,2014-09-29,2015-11-05,2015-07-01,2015-12-31,2015-10-01,35 days,358.80,0,0.0,1.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,16.0,13,7.0,51.03,3,1,0.0,0,1,5.878895,2.0,12,29.900000,81.250000
3865,13865,41,1,3260.0,2017-01-24,2017-08-29,2017-01-01,2017-12-31,2017-03-08,174 days,169.85,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,9.0,0,7.0,90.02,0,0,0.0,0,1,0.000000,1.0,7,24.264286,0.000000
4131,14131,57,1,4450.0,2014-10-15,2015-09-16,2015-01-01,2015-12-31,2015-06-17,91 days,369.20,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,10.0,7,1.0,8.71,2,1,0.0,0,1,22.962113,1.0,10,36.920000,70.000000
4570,14570,52,0,5290.0,2019-10-07,2019-10-31,2019-07-01,2019-12-31,2019-10-31,0 days,51.95,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,7.0,0,NaN,24.01,6,0,0.0,0,0,24.989588,1.0,1,51.950000,0.000000
4600,14600,25,0,1900.0,2018-10-02,2019-01-14,2018-07-01,2019-06-30,2018-12-14,31 days,112.40,0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,18.0,0,7.0,60.97,24,0,0.0,0,1,39.363621,1.0,3,37.466667,0.000000
5913,15913,61,0,6300.0,2016-08-30,2019-10-31,2019-07-01,2019-12-31,2019-09-28,33 days,1149.80,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,21.0,20,4.0,28.00,3,4,0.0,0,0,10.714286,1.0,37,31.075676,95.238095
6495,16495,24,0,2500.0,2018-10-02,2019-02-12,2018-07-01,2019-06-30,2019-01-30,13 days,96.40,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,14.0,0,7.0,62.02,7,0,0.0,0,1,11.286682,1.0,4,24.100000,0.000000
6596,16596,20,0,1490.0,2015-02-23,2015-09-16,2015-01-01,2015-06-30,2015-03-16,184 days,37.60,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,5.0,0,7.0,28.98,5,1,0.0,0,1,17.253278,1.0,6,6.266667,0.000000
7305,17305,74,0,5250.0,2017-10-02,2019-10-31,2019-07-01,2019-12-31,2019-07-30,93 days,613.00,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,107.0,0,7.0,62.02,6,2,0.0,0,0,9.674299,1.0,24,25.541667,0.000000
7589,17589,3,0,0.0,2016-10-19,2017-03-01,2017-01-01,2017-06-30,2017-02-25,4 days,233.60,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,5.0,4,2.0,16.86,4,0,0.0,0,1,23.724792,1.0,4,58.400000,80.000000
8494,18494,21,0,1540.0,2016-03-03,2016-05-05,2016-01-01,2016-06-30,2016-03-16,50 days,34.00,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,4.0,0,7.0,60.97,3,0,0.0,0,1,4.920453,1.0,2,17.000000,0.000000
8517,18517,22,1,1490.0,2017-03-02,2017-07-08,2017-01-01,2017-12-31,2017-05-30,39 days,103.60,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,23.0,0,7.0,60.97,6,0,0.0,0,1,9.840905,1.0,4,25.900000,0.000000
8711,18711,22,1,2180.0,2014-11-11,2015-09-16,2015-01-01,2015-12-31,2015-07-07,71 days,221.20,0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,0.0,30.0,0,7.0,60.97,4,1,0.0,0,1,6.560604,1.0,9,24.577778,0.000000
8856,18856,4,1,0.0,2016-09-14,2019-10-13,2019-07-01,2019-12-31,2019-07-20,85 days,1222.77,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,80.0,79,2.0,17.42,0,3,0.0,0,1,0.000000,1.0,36,33.965833,98.750000
9164,19164,5,1,0.0,2015-09-11,2016-05-05,2016-01-01,2016-06-30,2016-03-08,58 days,348.65,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,12.0,11,4.0,34.84,2,0,0.0,0,1,5.740528,1.0,7,49.807143,91.666667
9288,19288,22,1,1990.0,2019-10-01,2019-10-31,2019-07-01,2019-12-31,2019-10-31,0 days,38.50,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,5.0,0,NaN,21.98,1,0,0.0,0,0,4.549591,1.0,1,38.500000,0.000000
10104,20104,20,0,NaN,2014-10-07,2016-07-31,2016-01-01,2016-12-31,2016-06-27,34 days,763.30,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,84.0,42,2.0,17.42,3,1,0.0,0,1,17.221584,1.0,21,36.347619,50.000000
10595,20595,47,0,4860.0,2019-08-01,2019-10-31,2019-07-01,2019-12-31,2019-10-16,15 days,90.20,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,5.0,5,2.0,17.14,5,0,0.0,0,0,29.171529,1.0,2,45.100000,100.000000
10782,20782,37,0,2010.0,2015-04-30,2015-09-16,2015-01-01,2015-12-31,2015-07-08,70 days,103.35,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,8.0,0,7.0,60.97,6,1,0.0,0,1,9.840905,1.0,4,25.837500,0.000000
10842,20842,20,0,1670.0,2016-03-01,2016-05-05,2016-01-01,2016-06-30,2016-03-18,48 days,43.60,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,4.0,0,7.0,60.97,3,0,0.0,0,1,4.920453,1.0,2,21.800000,0.000000
10852,20852,47,1,5780.0,2017-10-19,2018-03-10,2018-01-01,2018-06-30,2017-10-26,135 days,208.60,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0,7.0,59.01,0,0,0.0,0,1,0.000000,1.0,4,52.150000,0.000000
11299,21299,59,0,7500.0,2015-02-12,2015-09-16,2015-01-01,2015-12-31,2015-06-02,106 days,248.60,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,8.0,0,7.0,60.97,1,1,0.0,0,1,1.640151,1.0,6,41.433333,0.000000
11696,21696,19,0,850.0,2018-11-05,2019-01-14,2018-07-01,2019-06-30,2018-11-27,48 days,64.90,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,6.0,6,2.0,17.42,3,0,0.0,0,1,17.221584,1.0,2,32.450000,100.000000
11792,21792,14,0,0.0,2015-04-30,2017-08-29,2017-01-01,2017-12-31,2017-05-11,110 days,925.80,0,0.0,1.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,77.0,68,2.0,17.42,0,3,1.0,1,1,0.000000,2.0,27,34.288889,88.311688
11935,21935,19,0,1830.0,2015-09-29,2016-03-06,2016-01-01,2016-06-30,2015-12-14,83 days,159.35,0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,0.0,21.0,0,7.0,59.99,0,0,0.0,0,1,0.000000,1.0,5,31.870000,0.000000
12111,22111,31,1,3850.0,2016-06-01,2016-07-31,2016-01-01,2016-12-31,2016-06-24,37 days,61.60,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,9.0,0,7.0,66.99,9,0,0.0,0,1,13.434841,1.0,1,61.600000,0.000000
12229,22229,18,0,1830.0,2019-10-01,2019-10-31,2019-07-01,2019-12-31,2019-10-21,10 days,47.20,0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,3.0,0,NaN,30.03,3,0,0.0,0,0,9.990010,1.0,1,47.200000,0.000000
12408,22408,22,0,1810.0,2016-11-11,2017-08-29,2017-01-01,2017-12-31,2017-06-14,76 days,156.50,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,25.0,0,7.0,60.97,4,2,0.0,0,1,6.560604,1.0,9,17.388889,0.000000
13939,23939,53,0,5130.0,2019-06-03,2019-10-13,2019-07-01,2019-12-31,2019-07-11,94 days,135.20,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,6.0,0,7.0,60.97,0,1,0.0,0,1,0.000000,1.0,4,33.800000,0.000000
14172,24172,68,1,3260.0,2017-09-13,2019-10-31,2019-07-01,2019-12-31,2019-10-28,3 days,645.04,0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,191.0,0,7.0,52.01,16,2,0.0,0,0,30.763315,1.0,25,25.801600,0.000000
14473,24473,27,1,2130.0,2018-01-12,2018-07-31,2018-01-01,2018-12-31,2018-02-21,160 days,155.40,0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,0.0,3.0,0,7.0,60.97,0,0,0.0,0,1,0.000000,1.0,6,25.900000,0.000000
14510,24510,20,1,1360.0,2015-09-08,2016-07-31,2016-01-01,2016-12-31,2016-07-05,26 days,350.10,0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,27.0,26,2.0,17.42,1,0,0.0,0,1,5.740528,0.0,10,35.010000,96.296296
14646,24646,21,0,2390.0,2016-11-02,2017-01-02,2016-07-01,2017-06-30,2016-12-29,4 days,83.60,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,12.0,0,7.0,60.97,20,0,0.0,0,1,32.803018,1.0,1,83.600000,0.000000

In [49]:
sports_data[sports_data['CombatActivities'].isna()]

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,UseByTime,AthleticsActivities,WaterActivities,FitnessActivities,DanceActivities,TeamActivities,RacketActivities,CombatActivities,NatureActivities,SpecialActivities,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout,PercentageOfVisits,NumberOfActivities,TotalMonths,MonthlyValue,PercentageOfClasses
1152,11152,18,1,1180.0,2018-02-02,2018-07-31,2018-01-01,2018-12-31,2018-05-14,78 days,180.4,1,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,42.0,0,7.0,60.97,2,0,0.0,0,1,3.280302,1.0,5,36.080000,0.000000
1194,11194,9,1,0.0,2016-09-29,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1 days,1088.3,0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,78.0,56,2.0,17.42,5,3,0.0,0,0,28.702641,1.0,36,30.230556,71.794872
1657,11657,21,0,1790.0,2016-10-01,2018-07-31,2018-01-01,2018-12-31,2018-06-28,33 days,538.7,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,39.0,0,7.0,66.99,6,1,0.0,0,1,8.956561,1.0,21,25.652381,0.000000
2472,12472,55,0,5030.0,2014-08-05,2015-09-14,2014-07-01,2014-12-31,2014-11-06,312 days,118.2,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,14.0,0,7.0,28.98,6,2,0.0,0,1,20.703934,1.0,13,9.092308,0.000000
2484,12484,22,1,1680.0,2015-09-14,2016-01-04,2015-07-01,2016-06-30,2015-11-21,44 days,68.6,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,9.0,0,7.0,60.97,2,0,0.0,0,1,3.280302,1.0,3,22.866667,0.000000
2795,12795,21,1,1140.0,2016-11-29,2019-07-31,2019-01-01,2019-06-30,2019-05-30,62 days,517.9,1,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,123.0,0,7.0,60.97,16,2,0.0,0,1,26.242414,1.0,31,16.706452,0.000000
3047,13047,6,1,0.0,2017-09-12,2019-10-31,2019-07-01,2019-12-31,2019-10-29,2 days,774.2,0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,59.0,41,2.0,17.72,1,2,0.0,0,0,5.643341,1.0,25,30.968000,69.491525
3087,13087,35,0,3710.0,2018-04-30,2019-10-31,2019-07-01,2019-12-31,2019-10-31,0 days,608.6,0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,103.0,103,2.0,6.28,5,2,0.0,0,0,79.617834,1.0,17,35.800000,100.000000
3105,13105,19,0,1710.0,2015-10-01,2016-07-08,2016-01-01,2016-12-31,2016-04-28,71 days,203.6,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,32.0,0,7.0,60.97,0,0,0.0,0,1,0.000000,1.0,9,22.622222,0.000000
3137,13137,15,1,0.0,2018-10-15,2019-06-11,2019-01-01,2019-06-30,2019-05-29,13 days,303.4,0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,39.0,36,4.0,34.84,14,0,0.0,0,1,40.183697,1.0,7,43.342857,92.307692
4314,14314,24,0,2120.0,2016-01-30,2016-11-25,2016-07-01,2016-12-31,2016-11-07,18 days,422.6,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,56.0,3,7.0,30.03,3,1,0.0,0,1,9.990010,2.0,9,46.955556,5.357143
4423,14423,55,1,2810.0,2015-09-17,2019-10-31,2019-07-01,2019-12-31,2019-10-31,0 days,1395.4,0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,447.0,146,7.0,60.97,31,4,0.0,0,0,50.844678,1.0,48,29.070833,32.662192
4834,14834,23,1,1750.0,2016-01-12,2017-09-28,2016-01-01,2016-12-31,2016-06-17,468 days,106.1,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,14.0,0,7.0,62.02,4,2,0.0,0,1,6.449532,1.0,20,5.305000,0.000000
5493,15493,22,0,1870.0,2019-10-01,2019-10-31,2019-07-01,2019-12-31,2019-10-28,3 days,50.7,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,10.0,0,NaN,21.98,10,0,0.0,0,0,45.495905,1.0,1,50.700000,0.000000
6371,16371,20,0,1720.0,2018-10-02,2019-10-31,2019-07-01,2019-12-31,2019-10-18,13 days,237.1,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,52.0,0,7.0,21.98,4,1,0.0,0,0,18.198362,1.0,12,19.758333,0.000000
6568,16568,22,0,1910.0,2016-01-26,2016-04-01,2016-01-01,2016-06-30,2016-02-24,37 days,71.6,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,2.0,0,7.0,59.99,2,0,0.0,0,1,3.333889,1.0,2,35.800000,0.000000
6639,16639,22,1,2290.0,2014-10-06,2018-06-07,2018-01-01,2018-06-30,2018-04-26,42 days,201.2,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,82.0,0,7.0,60.97,8,3,0.0,0,1,13.121207,1.0,43,4.679070,0.000000
7709,17709,29,1,2550.0,2016-09-27,2017-08-29,2017-01-01,2017-12-31,2017-07-18,42 days,324.5,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,26.0,0,7.0,60.97,2,2,0.0,0,1,3.280302,0.0,10,32.450000,0.000000
7725,17725,33,0,4170.0,2014-09-23,2015-09-16,2014-07-01,2014-12-31,2014-11-06,314 days,84.2,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,15.0,0,7.0,28.98,5,1,0.0,0,1,17.253278,1.0,11,7.654545,0.000000
8041,18041,27,1,2320.0,2016-12-03,2019-03-25,2017-07-01,2017-12-31,2017-07-14,619 days,226.0,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,30.0,0,7.0,25.97,2,2,0.0,0,1,7.701194,1.0,27,8.370370,0.000000
9399,19399,17,1,1080.0,2015-11-07,2016-05-05,2016-01-01,2016-06-30,2016-03-14,52 days,262.6,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,33.0,0,7.0,60.97,2,0,0.0,0,1,3.280302,0.0,5,52.520000,0.000000
9820,19820,46,1,4710.0,2015-12-10,2019-10-31,2019-07-01,2019-12-31,2019-09-30,31 days,1739.8,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,326.0,0,7.0,60.97,11,4,0.0,0,0,18.041660,1.0,45,38.662222,0.000000
10658,20658,24,1,1880.0,2018-02-22,2019-10-31,2019-07-01,2019-12-31,2019-10-31,0 days,518.6,1,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,126.0,0,7.0,60.97,15,2,0.0,0,1,24.602263,1.0,19,27.294737,0.000000
11037,21037,23,0,2070.0,2019-05-07,2019-06-11,2019-01-01,2019-06-30,2019-05-30,12 days,38.5,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,11.0,0,7.0,35.00,11,0,0.0,0,1,31.428571,1.0,1,38.500000,0.000000
11226,21226,17,1,1980.0,2018-10-10,2018-11-11,2018-07-01,2018-12-31,2018-10-30,12 days,60.4,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,11.0,0,7.0,31.99,12,0,0.0,0,1,37.511722,1.0,1,60.400000,0.000000
11666,21666,21,1,1790.0,2019-02-14,2019-04-11,2019-01-01,2019-06-30,2019-03-29,13 days,47.2,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,3.0,0,7.0,41.02,3,0,0.0,0,1,7.313506,1.0,1,47.200000,0.000000
11755,21755,27,1,3350.0,2018-10-01,2018-11-11,2018-07-01,2018-12-31,2018-10-18,24 days,38.5,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,5.0,0,7.0,41.02,5,0,0.0,0,1,12.189176,1.0,1,38.500000,0.000000
12495,22495,45,0,3040.0,2017-02-02,2017-05-12,2017-01-01,2017-06-30,2017-05-08,4 days,158.6,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,49.0,0,7.0,30.03,9,0,0.0,0,1,29.970030,1.0,3,52.866667,0.000000
12684,22684,22,0,1770.0,2015-04-08,2015-09-16,2015-01-01,2015-06-30,2015-04-30,139 days,73.6,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,8.0,0,7.0,28.98,0,1,0.0,0,1,0.000000,1.0,5,14.720000,0.000000
13847,23847,23,1,2410.0,2014-09-29,2018-11-11,2018-07-01,2018-12-31,2018-10-31,11 days,623.6,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,119.0,0,7.0,38.99,9,4,0.0,0,1,23.082842,1.0,48,12.991667,0.000000
14294,24294,9,0,0.0,2016-07-02,2019-07-09,2019-01-01,2019-12-31,2019-05-18,52 days,837.6,0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,39.0,19,2.0,17.42,2,4,0.0,0,1,11.481056,1.0,35,23.931429,48.717949
14503,24503,19,0,1100.0,2016-03-02,2016-05-05,2016-01-01,2016-06-30,2016-03-09,57 days,43.6,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,3.0,0,7.0,60.97,2,0,0.0,0,1,3.280302,1.0,2,21.800000,0.000000
14623,24623,30,0,3340.0,2018-11-02,2019-09-10,2019-07-01,2019-12-31,2019-07-26,46 days,107.4,0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,30.0,1,7.0,62.02,8,1,0.0,0,1,12.899065,2.0,10,10.740000,3.333333

In [50]:
sports_data[sports_data['NatureActivities'].isna()]

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,UseByTime,AthleticsActivities,WaterActivities,FitnessActivities,DanceActivities,TeamActivities,RacketActivities,CombatActivities,NatureActivities,SpecialActivities,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout,PercentageOfVisits,NumberOfActivities,TotalMonths,MonthlyValue,PercentageOfClasses
89,10089,20,0,1300.0,2016-04-27,2016-11-02,2016-07-01,2016-12-31,2016-10-20,13 days,82.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,14.0,0,7.0,30.03,6,1,0.0,0,1,19.980020,1.0,6,13.766667,0.000000
145,10145,20,1,1630.0,2019-09-25,2019-10-31,2019-07-01,2019-12-31,2019-10-21,10 days,45.10,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,7.0,0,NaN,21.98,6,0,0.0,0,0,27.297543,1.0,1,45.100000,0.000000
337,10337,21,1,2310.0,2015-09-15,2017-07-31,2017-01-01,2017-06-30,2017-03-20,133 days,257.10,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,20.0,0,7.0,60.97,2,1,0.0,0,1,3.280302,1.0,22,11.686364,0.000000
492,10492,39,1,3130.0,2016-04-22,2018-01-07,2017-07-01,2018-06-30,2017-10-04,95 days,287.70,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,34.0,0,7.0,60.97,0,3,0.0,0,1,0.000000,1.0,20,14.385000,0.000000
1141,11141,1,1,0.0,2019-09-07,2019-10-31,2019-07-01,2019-12-31,2019-10-31,0 days,120.20,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,8.0,0,NaN,15.42,7,0,0.0,0,0,45.395590,1.0,1,120.200000,0.000000
1417,11417,18,0,1080.0,2019-02-06,2019-10-31,2019-01-01,2019-06-30,2019-02-11,262 days,43.70,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,3.0,0,7.0,34.02,3,1,0.0,0,0,8.818342,1.0,8,5.462500,0.000000
2836,12836,32,0,2140.0,2017-01-09,2019-07-09,2019-01-01,2019-12-31,2019-06-18,21 days,749.65,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,144.0,0,7.0,38.01,3,3,0.0,0,1,7.892660,1.0,29,25.850000,0.000000
2933,12933,44,0,3560.0,2019-01-17,2019-10-31,2019-07-01,2019-12-31,2019-10-04,27 days,345.20,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,35.0,0,7.0,21.98,0,1,0.0,0,0,0.000000,1.0,9,38.355556,0.000000
3085,13085,2,1,0.0,2018-07-03,2019-10-31,2019-07-01,2019-12-31,2019-10-26,5 days,846.45,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,41.0,37,2.0,17.14,6,2,0.0,0,0,35.005834,1.0,15,56.430000,90.243902
3102,13102,24,0,2390.0,2014-09-19,2015-09-16,2014-07-01,2014-12-31,2014-12-12,278 days,113.20,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,30.0,0,7.0,28.98,5,1,0.0,0,1,17.253278,1.0,11,10.290909,0.000000
3461,13461,9,0,0.0,2015-10-09,2016-07-31,2016-01-01,2016-12-31,2016-06-15,46 days,278.60,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,39.0,3,2.0,17.42,5,0,0.0,0,1,28.702641,1.0,9,30.955556,7.692308
3555,13555,19,0,980.0,2017-11-06,2018-09-07,2018-01-01,2018-12-31,2018-07-17,52 days,183.60,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,38.0,38,1.0,8.71,4,1,0.0,0,1,45.924225,1.0,9,20.400000,100.000000
4044,14044,21,1,1990.0,2015-11-18,2016-01-04,2015-07-01,2016-06-30,2015-11-20,45 days,37.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,2.0,0,7.0,46.97,2,0,0.0,0,1,4.258037,1.0,1,37.600000,0.000000
4198,14198,22,1,1250.0,2015-03-24,2018-11-11,2018-07-01,2018-12-31,2018-10-10,32 days,121.00,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,25.0,0,7.0,41.02,2,4,0.0,0,1,4.875670,2.0,42,2.880952,0.000000
4515,14515,6,1,0.0,2017-07-28,2019-10-31,2018-01-01,2018-12-31,2019-10-29,2 days,949.20,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,112.0,125,4.0,34.84,9,3,0.0,0,0,25.832377,2.0,26,36.507692,111.607143
5370,15370,27,1,1560.0,2014-11-01,2019-03-12,2019-01-01,2019-06-30,2019-02-26,14 days,191.70,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,31.0,0,7.0,35.98,8,4,0.0,0,1,22.234575,1.0,51,3.758824,0.000000
5375,15375,19,0,1510.0,2018-03-01,2018-07-08,2018-01-01,2018-12-31,2018-05-17,52 days,75.40,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,20.0,0,7.0,60.97,4,0,0.0,0,1,6.560604,1.0,4,18.850000,0.000000
5487,15487,30,0,3170.0,2017-09-04,2018-07-08,2018-01-01,2018-12-31,2018-05-24,45 days,23.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,14.0,0,7.0,59.01,5,0,0.0,0,1,8.473140,1.0,9,2.622222,0.000000
6061,16061,38,1,4530.0,2018-01-04,2019-10-31,2019-07-01,2019-12-31,2019-10-17,14 days,793.20,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,131.0,0,7.0,60.97,11,2,0.0,0,0,18.041660,1.0,21,37.771429,0.000000
6588,16588,54,1,3250.0,2017-04-04,2019-10-31,2019-07-01,2019-12-31,2019-10-29,2 days,837.55,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,158.0,0,7.0,60.97,14,3,0.0,0,0,22.962113,1.0,30,27.918333,0.000000
7046,17046,26,1,3010.0,2014-11-03,2015-09-16,2014-07-01,2014-12-31,2014-11-06,314 days,68.20,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,2.0,0,7.0,28.98,2,1,0.0,0,1,6.901311,1.0,10,6.820000,0.000000
7953,17953,30,0,3290.0,2018-01-24,2018-07-08,2018-01-01,2018-12-31,2018-05-21,48 days,142.40,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,8.0,0,7.0,60.97,1,0,0.0,0,1,1.640151,1.0,5,28.480000,0.000000
8083,18083,21,0,2780.0,2017-03-20,2018-07-31,2018-01-01,2018-12-31,2018-06-29,32 days,211.50,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,42.0,0,7.0,53.97,6,2,0.0,0,1,11.117287,1.0,16,13.218750,0.000000
8484,18484,32,1,3270.0,2016-12-27,2018-10-19,2018-07-01,2018-12-31,2018-09-26,23 days,494.55,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,96.0,0,7.0,45.01,17,2,0.0,0,1,37.769385,2.0,21,23.550000,0.000000
8803,18803,25,0,1660.0,2017-09-19,2018-03-10,2018-01-01,2018-06-30,2018-01-25,44 days,136.10,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,25.0,0,7.0,59.01,5,0,0.0,0,1,8.473140,1.0,5,27.220000,0.000000
8853,18853,57,0,6370.0,2017-01-21,2018-07-31,2018-01-01,2018-12-31,2018-04-23,99 days,48.20,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,33.0,31,1.0,8.71,0,2,0.0,0,1,0.000000,1.0,17,2.835294,93.939394
8980,18980,36,0,1470.0,2018-09-18,2019-10-31,2019-07-01,2019-12-31,2019-10-31,0 days,524.70,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,189.0,12,7.0,31.01,20,1,0.0,0,0,64.495324,2.0,13,40.361538,6.349206
9047,19047,21,1,2110.0,2015-02-18,2016-01-04,2015-07-01,2016-06-30,2015-11-11,54 days,139.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,44.0,0,7.0,60.97,3,2,0.0,0,1,4.920453,1.0,10,13.960000,0.000000
9679,19679,19,1,1810.0,2017-09-14,2019-10-31,2018-01-01,2018-12-31,2019-10-31,0 days,805.10,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,165.0,64,7.0,60.97,5,2,0.0,0,0,8.200754,1.0,25,32.204000,38.787879
9693,19693,22,1,2180.0,2015-11-09,2016-02-29,2016-01-01,2016-06-30,2016-01-27,33 days,63.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,17.0,0,7.0,55.02,9,0,0.0,0,1,16.357688,1.0,3,21.200000,0.000000
9973,19973,23,0,2590.0,2016-10-26,2017-07-09,2017-01-01,2017-12-31,2017-07-07,2 days,152.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,55.0,0,7.0,30.03,26,0,0.0,0,1,86.580087,1.0,8,19.075000,0.000000
10551,20551,4,0,0.0,2015-07-18,2018-07-31,2018-01-01,2018-12-31,2018-07-14,17 days,991.27,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,86.0,82,2.0,17.42,5,4,1.0,1,1,28.702641,1.0,35,28.322000,95.348837
11377,21377,29,1,2020.0,2017-05-23,2017-07-28,2017-01-01,2017-12-31,2017-07-24,4 days,86.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,21.0,0,7.0,30.03,9,0,0.0,0,1,29.970030,1.0,2,43.300000,0.000000
11620,21620,67,0,4540.0,2016-02-25,2018-05-08,2018-01-01,2018-06-30,2018-03-15,54 days,477.70,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,62.0,0,7.0,60.97,3,3,0.0,0,1,4.920453,1.0,25,19.108000,0.000000
11946,21946,7,1,0.0,2015-02-07,2015-09-16,2015-01-01,2015-12-31,2015-07-22,56 days,230.60,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,17.0,0,7.0,60.97,5,1,0.0,0,1,8.200754,1.0,7,32.942857,0.000000
12087,22087,8,0,0.0,2019-09-20,2019-10-31,2019-07-01,2019-12-31,2019-10-28,3 days,60.20,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,4.0,0,NaN,17.16,4,0,0.0,0,0,23.310023,1.0,1,60.200000,0.000000
12190,22190,39,0,2480.0,2019-09-13,2019-10-31,2019-07-01,2019-12-31,2019-10-10,21 days,100.20,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,6.0,0,NaN,48.02,11,0,0.0,0,0,22.907122,1.0,1,100.200000,0.000000
12574,22574,23,1,1940.0,2019-02-01,2019-10-31,2019-07-01,2019-12-31,2019-10-28,3 days,101.50,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,37.0,1,7.0,21.98,11,1,0.0,0,0,50.045496,1.0,8,12.687500,2.702703
12618,22618,23,1,2100.0,2016-01-28,2019-04-11,2019-01-01,2019-06-30,2019-04-01,10 days,333.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,108.0,0,7.0,35.98,7,4,0.0,0,1,19.455253,1.0,37,9.016216,0.000000
12797,22797,64,1,6310.0,2017-09-27,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1 days,534.20,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,211.0,0,7.0,52.01,18,2,0.0,0,0,34.608729,1.0,24,22.258333,0.000000
13250,23250,2,0,0.0,2014-10-25,2015-09-16,2014-07-01,2015-06-30,2014-11-08,312 days,96.70,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0,1,1.0,8.86,0,1,0.0,0,1,0.000000,1.0,10,9.670000,100.000000
13816,23816,9,0,0.0,2018-09-19,2018-11-11,2018-07-01,2018-12-31,2018-10-20,22 days,70.40,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,4.0,4,2.0,15.14,4,0,0.0,0,1,26.420079,1.0,1,70.400000,100.000000
14301,24301,41,0,3570.0,2015-09-15,2016-08-01,2016-01-01,2016-12-31,2016-05-18,75 days,373.60,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,51.0,43,2.0,17.42,0,2,0.0,0,1,0.000000,1.0,10,37.360000,84.313725
14352,24352,35,0,3590.0,2017-09-04,2019-10-31,2019-07-01,2019-12-31,2019-07-31,92 days,113.75,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,144.0,0,7.0,62.02,7,2,0.0,0,0,11.286682,2.0,25,4.550000,0.000000
14366,24366,15,1,0.0,2017-06-14,2019-10-31,2019-07-01,2019-12-31,2019-10-31,0 days,304.50,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,12.0,0,7.0,56.00,12,3,0.0,0,0,21.428571,1.0,28,10.875000,0.000000
14387,24387,46,1,1870.0,2018-09-11,2019-07-09,2019-01-01,2019-12-31,2019-06-12,27 days,430.40,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,83.0,0,7.0,60.97,10,0,0.0,0,1,16.401509,1.0,9,47.822222,0.000000
14830,24830,2,1,0.0,2018-07-26,2019-10-31,2019-07-01,2019-12-31,2019-10-19,12 days,773.32,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,27.0,20,2.0,17.42,8,2,0.0,0,0,45.924225,1.0,14,55.237143,74.074074

In [51]:
sports_data[sports_data['SpecialActivities'].isna()]

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,UseByTime,AthleticsActivities,WaterActivities,FitnessActivities,DanceActivities,TeamActivities,RacketActivities,CombatActivities,NatureActivities,SpecialActivities,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout,PercentageOfVisits,NumberOfActivities,TotalMonths,MonthlyValue,PercentageOfClasses
979,10979,35,1,1360.0,2017-05-15,2018-07-31,2018-01-01,2018-12-31,2018-07-31,0 days,195.00,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,16.0,0,7.0,59.99,6,2,0.0,0,1,10.001667,1.0,14,13.928571,0.000000
1317,11317,23,1,2200.0,2018-04-17,2018-07-08,2018-01-01,2018-12-31,2018-05-28,41 days,40.00,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,6.0,0,7.0,60.97,3,0,0.0,0,1,4.920453,1.0,2,20.000000,0.000000
1474,11474,19,0,1040.0,2014-09-19,2016-07-31,2016-01-01,2016-12-31,2016-07-26,5 days,636.80,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,66.0,0,7.0,60.97,4,1,0.0,0,1,6.560604,1.0,21,30.323810,0.000000
1546,11546,28,0,3150.0,2015-04-06,2017-09-01,2017-07-01,2017-12-31,2016-07-27,401 days,341.00,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,101.0,0,7.0,4.97,0,3,0.0,0,1,0.000000,1.0,28,12.178571,0.000000
1664,11664,21,0,1920.0,2016-09-21,2017-08-29,2017-01-01,2017-12-31,2016-10-04,329 days,177.60,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,3.0,0,1.0,8.71,0,2,0.0,0,1,0.000000,2.0,11,16.145455,0.000000
1709,11709,30,0,2180.0,2014-06-03,2015-07-31,2016-01-01,2016-06-30,2015-01-07,205 days,220.80,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,2.0,0,7.0,59.99,0,2,0.0,0,1,0.000000,2.0,13,16.984615,0.000000
2080,12080,18,0,1500.0,2016-11-02,2016-12-02,2016-07-01,2016-12-31,2016-11-29,3 days,53.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,12.0,0,7.0,30.03,12,0,0.0,0,1,39.960040,1.0,1,53.600000,0.000000
2488,12488,30,1,2090.0,2014-12-26,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1 days,196.40,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,18.0,0,7.0,49.98,11,5,0.0,0,1,22.008804,2.0,57,3.445614,0.000000
2592,12592,19,1,970.0,2015-03-09,2015-09-16,2015-01-01,2015-06-30,2015-05-04,135 days,67.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,27.0,0,7.0,28.98,11,1,0.0,0,1,37.957212,1.0,6,11.266667,0.000000
3587,13587,39,1,5680.0,2018-12-06,2019-03-12,2019-01-01,2019-06-30,2019-02-26,14 days,96.05,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,0.0,4.0,0,7.0,32.97,2,0,0.0,0,1,6.066121,2.0,3,32.016667,0.000000
3636,13636,23,1,1560.0,2015-09-21,2019-06-11,2019-01-01,2019-06-30,2019-05-31,11 days,431.70,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,192.0,1,7.0,60.97,29,3,0.0,0,1,47.564376,1.0,43,10.039535,0.520833
3863,13863,31,1,2450.0,2018-01-18,2018-04-07,2018-01-01,2018-06-30,2018-02-09,57 days,85.40,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,7.0,0,7.0,59.01,1,0,0.0,0,1,1.694628,1.0,2,42.700000,0.000000
4635,14635,21,0,1630.0,2018-09-18,2018-12-11,2018-07-01,2018-12-31,2018-11-09,32 days,120.40,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,10.0,0,7.0,60.97,4,0,0.0,0,1,6.560604,1.0,2,60.200000,0.000000
4785,14785,16,0,0.0,2015-07-21,2016-07-31,2016-01-01,2016-12-31,2016-05-20,72 days,287.35,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,27.0,27,2.0,17.42,0,2,0.0,0,1,0.000000,1.0,12,23.945833,100.000000
4906,14906,38,0,3090.0,2018-07-30,2019-01-14,2018-07-01,2019-06-30,2018-11-15,60 days,170.40,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,7.0,0,7.0,60.97,1,2,0.0,0,1,1.640151,1.0,5,34.080000,0.000000
4971,14971,33,1,3090.0,2015-10-06,2019-10-31,2017-07-01,2017-12-31,2019-10-23,8 days,860.20,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,0.0,209.0,0,7.0,60.97,5,4,0.0,0,0,8.200754,1.0,47,18.302128,0.000000
4984,14984,28,0,2480.0,2015-10-01,2017-08-29,2017-07-01,2017-12-31,2017-07-27,33 days,328.10,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,76.0,0,7.0,17.99,5,3,0.0,0,1,27.793218,1.0,22,14.913636,0.000000
6464,16464,21,1,2220.0,2019-02-04,2019-10-31,2019-07-01,2019-12-31,2019-10-18,13 days,106.70,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,6.0,0,7.0,20.02,2,1,0.0,0,0,9.990010,1.0,8,13.337500,0.000000
6717,16717,24,0,1880.0,2015-09-29,2019-03-14,2015-07-01,2016-06-30,2016-02-01,1137 days,163.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,34.0,0,7.0,62.02,3,3,0.0,0,1,4.837149,1.0,40,4.090000,0.000000
7040,17040,55,0,4080.0,2014-10-06,2015-09-16,2015-01-01,2015-12-31,2015-06-24,84 days,335.70,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,60.0,0,7.0,60.97,2,1,0.0,0,1,3.280302,1.0,11,30.518182,0.000000
7400,17400,8,0,0.0,2014-08-13,2019-10-31,2019-07-01,2019-12-31,2019-10-28,3 days,1128.90,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,81.0,75,2.0,17.42,9,6,0.0,0,0,51.664753,1.0,61,18.506557,92.592593
7489,17489,12,1,0.0,2019-05-29,2019-10-31,2019-07-01,2019-12-31,2019-10-25,6 days,293.75,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,1.0,1,2.0,8.58,1,1,0.0,0,0,11.655012,1.0,5,58.750000,100.000000
7619,17619,26,1,2190.0,2014-11-05,2016-07-31,2016-01-01,2016-12-31,2016-06-15,46 days,234.80,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,15.0,0,7.0,67.97,2,1,0.0,0,1,2.942475,1.0,20,11.740000,0.000000
8679,18679,23,1,1480.0,2017-03-03,2018-02-07,2017-07-01,2018-06-30,2017-12-06,63 days,142.20,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,0.0,18.0,0,7.0,62.02,0,2,0.0,0,1,0.000000,2.0,11,12.927273,0.000000
8753,18753,22,0,1730.0,2016-09-22,2019-10-31,2019-01-01,2019-12-31,2019-10-30,1 days,846.40,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,203.0,0,7.0,60.97,16,3,0.0,0,0,26.242414,1.0,36,23.511111,0.000000
8794,18794,38,0,3730.0,2014-09-30,2015-03-18,2015-01-01,2015-06-30,2014-11-12,126 days,251.50,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,3.0,0,2.0,12.86,0,0,0.0,0,1,0.000000,1.0,5,50.300000,0.000000
8865,18865,37,1,2380.0,2019-09-05,2019-10-31,2019-07-01,2019-12-31,2019-09-25,36 days,85.95,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,12.0,0,NaN,38.01,12,0,0.0,0,0,31.570639,1.0,1,85.950000,0.000000
9127,19127,24,0,1970.0,2014-10-14,2016-01-04,2015-07-01,2016-06-30,2015-11-24,41 days,283.20,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,59.0,0,7.0,60.97,7,1,0.0,0,1,11.481056,1.0,14,20.228571,0.000000
9929,19929,9,0,0.0,2014-10-24,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1 days,2160.25,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,164.0,128,4.0,34.84,13,5,0.0,0,0,37.313433,1.0,59,36.614407,78.048780
9997,19997,35,1,3530.0,2016-03-08,2016-06-04,2016-01-01,2016-06-30,2016-04-12,53 days,81.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,11.0,0,7.0,60.97,4,0,0.0,0,1,6.560604,1.0,2,40.800000,0.000000
10529,20529,7,1,0.0,2015-06-19,2015-09-16,2015-07-01,2015-12-31,2015-07-25,53 days,77.10,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,4.0,4,1.0,4.29,4,1,0.0,0,1,93.240093,0.0,2,38.550000,100.000000
10723,20723,43,0,4150.0,2015-05-05,2016-05-23,2016-01-01,2016-06-30,2016-03-11,73 days,336.45,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,21.0,19,7.0,60.97,0,2,0.0,0,1,0.000000,1.0,12,28.037500,90.476190
11778,21778,66,0,4470.0,2017-04-18,2017-06-29,2017-01-01,2017-06-30,2017-06-16,13 days,85.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,7.0,0,7.0,30.03,2,0,0.0,0,1,6.660007,1.0,2,42.800000,0.000000
11919,21919,24,0,2700.0,2019-09-24,2019-10-31,2019-07-01,2019-12-31,2019-10-02,29 days,57.70,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0,NaN,30.03,1,0,0.0,0,0,3.330003,1.0,1,57.700000,0.000000
12120,22120,38,1,3820.0,2016-01-28,2018-04-07,2018-01-01,2018-06-30,2018-02-08,58 days,692.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,140.0,0,7.0,59.01,1,3,0.0,0,1,1.694628,1.0,25,27.704000,0.000000
12330,22330,20,0,2180.0,2015-04-28,2015-09-16,2015-01-01,2015-06-30,2015-05-08,131 days,37.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,3.0,0,7.0,28.98,3,1,0.0,0,1,10.351967,1.0,4,9.400000,0.000000
12744,22744,43,1,3630.0,2018-11-09,2019-10-31,2019-07-01,2019-12-31,2019-10-31,0 days,823.60,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,94.0,0,7.0,60.97,18,1,0.0,0,1,29.522716,1.0,11,74.872727,0.000000
12772,22772,21,1,1480.0,2016-02-03,2018-12-11,2018-07-01,2018-12-31,2018-11-23,18 days,120.90,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,2.0,0,7.0,35.00,2,3,0.0,0,1,5.714286,1.0,33,3.663636,0.000000
12955,22955,20,0,1490.0,2017-01-04,2017-02-03,2017-01-01,2017-06-30,2017-02-01,2 days,47.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,9.0,0,7.0,30.03,9,0,0.0,0,1,29.970030,1.0,1,47.600000,0.000000
12971,22971,20,1,1700.0,2018-05-09,2019-10-31,2019-07-01,2019-12-31,2019-10-29,2 days,69.00,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,16.0,0,7.0,21.98,10,2,0.0,0,1,45.495905,1.0,17,4.058824,0.000000
13343,23343,24,0,2570.0,2016-04-15,2016-07-08,2016-01-01,2016-12-31,2016-04-20,79 days,69.50,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,0.0,1.0,0,7.0,60.97,0,0,0.0,0,1,0.000000,1.0,2,34.750000,0.000000
13411,23411,38,1,2620.0,2018-09-05,2019-10-31,2019-07-01,2019-12-31,2019-07-31,92 days,171.30,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,0.0,50.0,0,7.0,62.02,5,1,0.0,0,0,8.061916,1.0,13,13.176923,0.000000
14601,24601,1,0,0.0,2019-03-08,2019-10-31,2019-07-01,2019-12-31,2019-10-26,5 days,263.55,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,10.0,6,2.0,14.86,1,1,0.0,0,0,6.729475,1.0,7,37.650000,60.000000
14697,24697,22,0,1800.0,2015-10-20,2017-12-08,2017-07-01,2017-12-31,2017-10-25,44 days,133.55,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,0.0,5.0,0,7.0,60.97,2,2,0.0,0,1,3.280302,1.0,25,5.342000,0.000000

In [52]:
sports_data[sports_data['OtherActivities'].isna()]

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,UseByTime,AthleticsActivities,WaterActivities,FitnessActivities,DanceActivities,TeamActivities,RacketActivities,CombatActivities,NatureActivities,SpecialActivities,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout,PercentageOfVisits,NumberOfActivities,TotalMonths,MonthlyValue,PercentageOfClasses
4,10004,35,1,4320.0,2016-04-20,2018-06-07,2018-01-01,2018-06-30,2017-11-09,210 days,373.20,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,41.0,0,7.0,60.97,0,3,0.0,0,1,0.000000,1.0,25,14.928000,0.000000
1354,11354,26,0,2540.0,2015-01-29,2015-10-03,2015-01-01,2015-12-31,2015-07-31,64 days,202.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,47.0,0,7.0,60.97,9,1,0.0,0,1,14.761358,1.0,7,28.942857,0.000000
1429,11429,24,0,2340.0,2016-05-30,2016-07-31,2016-01-01,2016-12-31,2016-07-14,17 days,73.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,10.0,0,7.0,59.99,12,0,0.0,0,1,20.003334,1.0,2,36.800000,0.000000
1727,11727,24,1,1920.0,2016-02-01,2016-07-31,2016-01-01,2016-12-31,2016-07-29,2 days,292.60,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,49.0,9,2.0,17.42,11,0,0.0,0,1,63.145809,2.0,5,58.520000,18.367347
1876,11876,19,0,NaN,2015-05-15,2015-12-05,2015-07-01,2015-12-31,2015-10-27,39 days,107.20,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,9.0,0,7.0,60.97,3,1,0.0,0,1,4.920453,1.0,6,17.866667,0.000000
2119,12119,24,0,1690.0,2019-02-15,2019-07-09,2019-01-01,2019-12-31,2019-07-01,8 days,145.20,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,68.0,0,7.0,56.98,27,0,0.0,0,1,47.385047,1.0,4,36.300000,0.000000
2280,12280,18,0,1580.0,2017-10-16,2017-12-08,2017-07-01,2017-12-31,2017-10-16,53 days,30.00,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0,7.0,52.99,1,0,0.0,0,1,1.887149,1.0,1,30.000000,0.000000
2457,12457,33,1,3820.0,2015-03-13,2015-09-16,2015-01-01,2015-06-30,2015-04-14,155 days,43.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,8.0,0,7.0,28.98,7,1,0.0,0,1,24.154589,1.0,6,7.266667,0.000000
2643,12643,26,0,2220.0,2015-10-27,2016-01-04,2015-07-01,2016-06-30,2015-11-30,35 days,57.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,3.0,0,7.0,60.97,3,0,0.0,0,1,4.920453,1.0,2,28.800000,0.000000
3021,13021,31,0,2220.0,2018-05-17,2019-10-31,2019-07-01,2019-12-31,2019-09-30,31 days,392.10,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,160.0,0,7.0,60.97,13,2,0.0,0,0,21.321962,1.0,17,23.064706,0.000000
3261,13261,34,0,4050.0,2014-10-07,2018-06-07,2018-01-01,2018-06-30,2017-12-18,171 days,1040.30,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,135.0,0,7.0,60.97,0,3,0.0,0,1,0.000000,1.0,43,24.193023,0.000000
3284,13284,2,0,0.0,2015-04-17,2016-07-31,2016-01-01,2016-12-31,2016-06-18,43 days,514.96,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,33.0,24,2.0,17.42,1,2,0.0,0,1,5.740528,1.0,15,34.330667,72.727273
3893,13893,21,1,2020.0,2014-12-01,2015-11-05,2015-07-01,2015-12-31,2015-10-06,30 days,45.60,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,2.0,0,7.0,45.01,2,1,0.0,0,1,4.443457,1.0,10,4.560000,0.000000
3969,13969,24,1,3050.0,2018-12-04,2019-07-09,2019-01-01,2019-12-31,2019-06-27,12 days,165.80,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,51.0,0,7.0,60.97,9,0,0.0,0,1,14.761358,1.0,7,23.685714,0.000000
4535,14535,34,0,4260.0,2018-08-30,2019-10-31,2019-07-01,2019-12-31,2019-09-21,40 days,68.90,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,3.0,0,7.0,37.03,3,2,0.0,0,0,8.101539,1.0,13,5.300000,0.000000
4735,14735,6,1,0.0,2014-09-20,2019-07-09,2019-01-01,2019-12-31,2015-01-31,1620 days,456.90,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,7.0,4,1.0,8.71,0,4,1.0,1,1,0.000000,2.0,56,8.158929,57.142857
4772,14772,21,1,1930.0,2016-02-01,2018-07-31,2018-01-01,2018-12-31,2018-06-12,49 days,687.70,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,86.0,0,7.0,60.97,2,3,0.0,0,1,3.280302,2.0,29,23.713793,0.000000
4957,14957,59,1,5410.0,2018-07-02,2019-07-09,2019-01-01,2019-12-31,2019-06-24,15 days,217.90,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,33.0,0,7.0,21.00,3,2,0.0,0,1,14.285714,2.0,12,18.158333,0.000000
6470,16470,25,0,2400.0,2019-01-30,2019-07-09,2019-01-01,2019-12-31,2019-06-29,10 days,162.70,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,15.0,0,7.0,60.97,2,0,0.0,0,1,3.280302,1.0,5,32.540000,0.000000
8761,18761,54,1,5900.0,2017-03-06,2019-06-11,2019-01-01,2019-06-30,2019-05-21,21 days,806.50,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,250.0,0,7.0,60.97,3,3,0.0,0,1,4.920453,1.0,26,31.019231,0.000000
8950,18950,20,0,1760.0,2018-12-03,2019-01-14,2018-07-01,2019-06-30,2018-12-12,33 days,38.50,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4.0,0,7.0,42.00,4,0,0.0,0,1,9.523810,1.0,1,38.500000,0.000000
9270,19270,1,0,0.0,2018-10-15,2019-10-31,2019-07-01,2019-12-31,2019-10-26,5 days,366.40,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,24.0,22,2.0,14.86,4,1,0.0,0,0,26.917900,1.0,12,30.533333,91.666667
9767,19767,19,0,1750.0,2017-10-04,2018-02-07,2017-07-01,2018-06-30,2017-12-20,49 days,108.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,20.0,0,7.0,62.02,5,0,0.0,0,1,8.061916,1.0,4,27.150000,0.000000
10014,20014,25,0,2870.0,2014-12-02,2015-09-16,2014-07-01,2014-12-31,2014-12-29,261 days,43.20,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,11.0,0,7.0,28.98,11,1,0.0,0,1,37.957212,1.0,9,4.800000,0.000000
10563,20563,34,0,1770.0,2016-04-05,2016-06-30,2016-01-01,2016-06-30,2016-06-20,10 days,129.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,7.0,0,7.0,60.97,2,0,0.0,0,1,3.280302,1.0,2,64.800000,0.000000
10627,20627,48,1,3630.0,2017-10-11,2017-12-08,2017-07-01,2017-12-31,2017-10-11,58 days,58.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0,7.0,58.03,1,0,0.0,0,1,1.723247,1.0,1,58.600000,0.000000
11096,21096,40,1,4720.0,2015-09-21,2018-07-08,2018-01-01,2018-12-31,2018-06-06,32 days,1322.35,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,273.0,1,7.0,60.97,5,2,0.0,0,1,8.200754,2.0,32,41.323437,0.366300
11871,21871,19,1,1040.0,2015-03-23,2015-09-16,2015-01-01,2015-12-31,2015-04-28,141 days,68.60,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,4.0,0,7.0,60.97,0,1,0.0,0,1,0.000000,1.0,5,13.720000,0.000000
12575,22575,46,0,4980.0,2017-06-22,2018-07-31,2018-01-01,2018-12-31,2018-07-18,13 days,325.20,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,30.0,0,7.0,60.97,2,2,0.0,0,1,3.280302,1.0,13,25.015385,0.000000
12982,22982,20,1,2160.0,2015-11-02,2016-07-08,2016-01-01,2016-12-31,2016-05-12,57 days,143.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,20.0,0,7.0,60.97,1,0,0.0,0,1,1.640151,1.0,8,17.950000,0.000000
13599,23599,22,1,1800.0,2019-02-18,2019-10-31,2019-01-01,2019-06-30,2019-10-25,6 days,106.70,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,60.0,0,7.0,60.97,21,1,0.0,0,0,34.443169,1.0,8,13.337500,0.000000
13925,23925,23,1,2090.0,2016-02-17,2016-07-31,2016-01-01,2016-12-31,2016-06-22,39 days,158.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,49.0,0,7.0,67.97,8,0,0.0,0,1,11.769898,1.0,5,31.720000,0.000000
14004,24004,19,0,1830.0,2014-10-10,2015-09-16,2015-01-01,2015-06-30,2015-03-02,198 days,181.20,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,38.0,0,7.0,28.98,7,1,0.0,0,1,24.154589,1.0,11,16.472727,0.000000
14784,24784,7,1,0.0,2016-07-26,2019-02-12,2018-07-01,2019-06-30,2019-01-18,25 days,756.60,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,42.0,34,2.0,17.72,2,4,0.0,0,1,11.286682,1.0,30,25.220000,80.952381
14929,24929,32,0,4050.0,2017-10-31,2018-03-10,2018-01-01,2018-06-30,2018-01-29,40 days,134.60,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,8.0,0,7.0,59.01,5,0,0.0,0,1,8.473140,1.0,4,33.650000,0.000000

-Missing values, se tiver zero em tudo, fica NaN a 1
-Missing values das categoricas binarias, treinar o modelo que preve